/********************************      Basic Structure      ********************************/

@media print{
	@page{
		size: portrait;
		margin: 0cm;
	}
}
@font-face{
	font-family: 'calibri';
	src:url(Calibri.ttf);
}
@font-face{
	font-family: 'Aaargh';
	src:url(../fonts/Gaspar_Regular.otf);
}
@font-face{
	font-family: 'OpenSans-Light';
	src:url(../fonts/OpenSans-Light.ttf);
}
@font-face{
	font-family: 'Arsenal';
	src:url(../fonts/Arsenal-Regular.otf);
}
p{
	font-family: 'OpenSans-Light' !important;
}
a{
	text-decoration: none !important;
}
html, html a {
   -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
	
}
html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }

body {
                font-family:  'OpenSans-Light' ,'calibri',Arial, Helvetica, sans-serif;
                color: #555;
				background-color: #F6F6F6 !important;
                font-size: 14px !important;
                }

#body-wrapper {
                background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
                }                
/********************************      Elements styling      ********************************/

.h3_php_error{
	font-weight: normal;
	color: #F90;
	background-color: #FFF;
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #CCC;
	width: 70%;
	font-size: 16px;
	position: fixed;
	top: 100px;
	left: 100px;
	z-index: 9999999;
	cursor: pointer;
}
.h3_php_error *{
	z-index: 99999999;
}

h1, h2, h3, h4, h5, h6 {
                font-family: Helvetica, Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
				  position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
				}
				
h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 10px 0;
                line-height: 1.6em;
                }

/********************************      General Classes      ********************************/

.clear {
                clear: both;
                }
				
.align-left {
                float: left;
                }
				
.align-right {
                float: right;
                }

/************ Button ************/
.button {
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
				background-image: url(../images/bg-button-green.gif) !important;
				background-color:#9E9E9E !important;
                border: 1px solid #2999ff !important;
				padding: 4px 7px !important;
				height: 30px;
                color: #fff !important;
                font-size: 14px !important;
				font-weight: normal;
				transition: all 200ms;
                cursor: pointer;
				box-shadow: 0px 1px 2px 0px #06C;
				-moz-box-shadow: 0px 1px 2px 0px #06C;
				-webkit-box-shadow: 0px 1px 2px 0px #06C;
                }
.button:focus,
.button:hover{
				box-shadow: 0px 1px 5px 0px #06C;
				-moz-box-shadow: 0px 1px 5px 0px #06C;
				-webkit-box-shadow: 0px 1px 5px 0px #06C;
                }
.button:active{
				box-shadow:0px 0px 2px 0px #666 inset !important;
				-moz-box-shadow:0px 0px 2px 0px #666 inset !important;
				-webkit-box-shadow:0px 0px 2px 0px #666 inset !important;
}
.buttonGreen {
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
				background-image: url(../images/bg-button-green-true.gif) !important;
				background-color:#f68620 !important;
				border-radius: 4px;
                border: 1px solid #20db21 !important;
				padding: 4px 7px !important;
				height: 30px;
                color: #fff !important;
                font-size: 11px !important;
				font-weight: normal;
				transition: all 200ms;
                cursor: pointer;
                }
.buttonGreen:focus,
.buttonGreen:hover{
				box-shadow: 0px 2px 4px 1px #20db21;
				-moz-box-shadow: 0px 2px 4px 1px #20db21;
				-webkit-box-shadow: 0px 2px 4px 1px #20db21;
                }
.buttonGreen:active{
				box-shadow:0px 0px 2px 0px #666 inset !important;
				-moz-box-shadow:0px 0px 2px 0px #666 inset !important;
				-webkit-box-shadow:0px 0px 2px 0px #666 inset !important;
}
.r_button{
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
                background: url(../images/bg-button-red.gif)  top left repeat-x !important;
                border: 1px solid #C30 !important;
                padding: 4px 7px 4px 7px !important;
				border-radius: 4px;
                color: #fff !important;
                font-size: 11px;
                cursor: pointer;
				font-weight: normal;
				transition: all 200ms ease-in;
				-webkit-transition: all 200ms ease-in;
				-moz-transition: all 200ms ease-in 100ms;
}
.r_button:focus,
.r_button:hover{
				box-shadow: 0px 0px 2px 0px #C30;
				-moz-box-shadow: 0px 0px 2px 0px #C30;
				-webkit-box-shadow: 0px 0px 2px 0px #C30;
}
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}
.button-top {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
/*	background: #459300 url('../images/bg-button-green.gif') top left repeat-x;	
	border: 1px solid #459300;
*/	padding: 5px 10px;
	color: #fff ;
/*	background-color:#9E9E9E;
	border:2px solid #C6C6C6;
*/	font-size: 15px;
	cursor: pointer;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.button-top:hover {
text-decoration: underline;
}
.enter_button {
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
				background-image: url(../images/bg-button-green.gif) !important;
				background-color:#9E9E9E !important;
                border: 1px solid #2999ff !important;
				padding: 6px 11px 21px 11px !important;
				height: 0px;
                color: #fff !important;
                font-size: 14px !important;
				font-weight: normal;
				transition: all 200ms;
                cursor: pointer;
				box-shadow: 0px 1px 2px 0px #06C;
				-moz-box-shadow: 0px 1px 2px 0px #06C;
				-webkit-box-shadow: 0px 1px 2px 0px #06C;
                }
.enter_button:focus,
.enter_button:hover{
				box-shadow: 0px 1px 5px 0px #06C;
				-moz-box-shadow: 0px 1px 5px 0px #06C;
				-webkit-box-shadow: 0px 1px 5px 0px #06C;
                }
.enter_button:active{
				box-shadow:0px 0px 2px 0px #666 inset !important;
				-moz-box-shadow:0px 0px 2px 0px #666 inset !important;
				-webkit-box-shadow:0px 0px 2px 0px #666 inset !important;
}

/********************************      Sidebar      ********************************/

#sidebar{
	background: url('../images/bg-body.gif') top left repeat-y;
	width: 230px;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	color: #888;
	font-size: 11px;
}
#sidebar #sidebar-wrapper {
                margin: 0 0 0 9px;
                }

#sidebar a,
#sidebar a:active {
                color:#ccc;
                }

#sidebar a:hover {
                color:#fff;
                }

#sidebar #sidebar-title {
                margin: 40px 0 40px 15px;
                }

#sidebar #logo {
                margin: 40px 0 40px 0;
                }

#sidebar #profile-links {

                padding: 0 15px 20px 15px;
                text-align: right;
                line-height: 1.5em;
                }
#sidebar #sidebar-wrapper{
	position:relative;
}
#sidebar #sidebar-wrapper .toggleSideBar{
	width: 25px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: -25px;
	background-image: url(../images/bg-login.gif);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	cursor: pointer;
	z-index: 1000;
	opacity: 0.6;
}
#sidebar #sidebar-wrapper .dateHead{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: normal;
	width: 125px;
	height: 30px;
	padding: 6px 5px;
	position: absolute;
	top: 5px;
	right: -142px;
	text-align: right;
	color: #444;
	border: 1px solid #CCC;
	border-radius: 4px;
	background-color: #FFF;
	background-image:url(../images/calendar.png);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	background-size: 25px;
	cursor: default;
}
#sidebar #sidebar-wrapper .toggleSideBar:hover{
	
}
#sidebar #sidebar-wrapper .toggleSideBar i{
	color: #FFF;
	font-size: 30px;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 300ms;
}
#sidebar #sidebar-wrapper .toggleSideBar:hover i.fa-caret-left{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
}
#sidebar #sidebar-wrapper .toggleSideBar:active i.fa-caret-left{
	transform: translateX(-5px);
	-webkit-transform: translateX(-5px);
	-moz-transform: translateX(-5px);
}
#sidebar #sidebar-wrapper .toggleSideBar:active i.fa-caret-right{
	transform: translateX(5px);
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
}
/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
                width: 206px;
                padding: 0;
                margin: 0 0 0 15px;
                font-family: Helvetica, Arial, sans-serif;
                }

#sidebar #main-nav i{
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	opacity: 1.0;
	font-size:17px;
}
#sidebar #main-nav li {
                list-style: none;
                padding-bottom: 10px;
                text-align: left;
                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 10px 10px 0px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
				cursor:pointer;
                }
#sidebar #main-nav li a.nav-top-item.nav-red{
				background: transparent url('../images/bg-menu-item-red.gif') right center no-repeat;
}
#sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: normal;
                }
                
#sidebar #main-nav li a.current:hover {
                color: #333;
                }
#sidebar #main-nav li a.current i{
				color: #333;
}
#sidebar #main-nav ul {
                padding: 0;
                font-size: 12px;
                margin: 0;
                }

#sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
                }

#sidebar #main-nav ul li a {
                padding: 8px 15px 8px 40px;
                display: block;
                color: #aaa;
                font-size: 13px;
                line-height: 1.2em;
                }

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #fff;
                }

#sidebar #main-nav ul li a.current {
                background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                }





/************ Layout ************/

#main-content {
                padding: 40px 0 0 0;
				position:absolute;
				left:240px;
				right:240px;
                }

.column-left {
                width: 48%;
                float: left;
                }
                
.column-right {
                width: 48%;
                float: right;
                }
               
#page-intro {
                font-size: 17px;
                padding: 0 0 20px 0;
                }

				
#footer {
				border-top: 1px solid #ccc;
				margin: 40px 0 0 0;
				padding: 20px 0;
				font-size: 12px;
                }
/************ Lists ************/

.list_img{
	width: 50px;
	max-height: 50px;
	box-shadow: 0px 0px 2px 0px #CCCCCC;
	transition: all 200ms ease-out;
	transform: translateX(20px);
}
.list_img:hover{
	box-shadow: 0px 0px 2px 0px #000;
}
#main-content ul,
#main-content ol {
                padding: 10px 0;
                }

/* Unordered List */

#main-content ul li {
                background: url('../images/icons/bullet_black.png') center left no-repeat;
                padding: 4px 0 4px 20px;
                }

/* Ordered List */

#main-content ol {
                padding: 0 0 0 24px;
                }

#main-content ol li {
                list-style: decimal;
                padding: 4px 0;
                }

/*************** Content Box ***************/

.content-box {
	border: 1px solid #CCC;
	box-shadow: 0px 0px 3px -5px #CCC;
	background: #fff;
	position:absolute;
	left:240px;
	top: 40px;
	right:10px;	
  }
.content-box-top{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-bottom: 20px;
	background: #fff;
	position:absolute;
	left:240px;
	top: 40px;
	right:10px;
}
.content-box-body{
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	position:absolute;
	left:240px;
	top: 335px;
	right:10px;
}

.content-box-header{
				font-family: 'Calibri';
				font-size: 14px;
                background: linear-gradient(to bottom, #f2f0f2, #edeaf0) repeat scroll 0 0 rgba(0, 0, 0, 0);
                margin-top: 1px;
                height: 40px;
				border-bottom: 1px solid #cfcdd2;
				/*border-color: #d4d2d7 #cfcdd2 #c9c7cc;*/
                }
.content-box-header h3 {
                padding: 12px 15px 10px;
                float: left;
				font-weight: normal;
                }
.content-box-header .gear_h3{
				padding: 12px 15px 10px 40px;
				background-image: url(../images/gear.png);
				background-repeat: no-repeat;
				background-position: 5px 5px;
				background-size: 28px;
				color: #666;
				text-shadow: 1px 0px 0px #FFF;
                float: left;
}
.content-box-header .design_h3{
				padding: 12px 15px 10px 40px;
				background-image: url(../images/design.png);
				background-repeat: no-repeat;
				background-position: 5px 5px;
				background-size: 28px;
				color: #666;
                float: left;
}
.content-box-header h2 {
                padding: 8px 15px;
                float: left;
				color: #2A3F55
                }

ul.content-box-tabs {
                float: right;
                padding: 12px 15px 0 0 !important;
				margin: 0 !important;
                }

ul.content-box-tabs li {
                float: left;
                margin: 0;
                padding: 0 !important;
                background-image: none !important;
                }
                
ul.content-box-tabs li a {
                color: #333;
                padding: 8px 10px;
                display: block;
                margin: 1px;
                border-bottom: 0;
                }

ul.content-box-tabs li a:hover {
                color: #2999ff;
                }              
                
ul.content-box-tabs li a.current {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0;
                margin: 0;
                }

.content-box-content {
                padding: 20px;
                font-size: 14px;
                border-top: 1px solid #ccc;
                }
                
/************ Table ************/

*#main-content table { 
	            
                border-collapse: collapse;
}
table th{
	vertical-align: middle;
}
table thead th {
                font-weight: bold;
                font-size: 15px;
                border-bottom: 1px solid #ddd;
				vertical-align: middle;
}
                
tbody {
                border-bottom: 1px solid #ddd;
}
                
tbody tr {
                background: #fff;
}
/*tbody tr.alt-row {
                background: #f3f3f3;
}
*/
table th {
                padding: 10px;
                line-height: 1.3em;
}        
table td{
	padding: 5px;
    line-height: 1.3em;
	vertical-align: middle;
}
/*table td:even{
	background-color: #e5e5e5;
}
*/table.prom{
	width: 100%;
}
table.prom td{
	padding: 2px;
    line-height: 1.3em;
	vertical-align: middle;
}
table.prom tbody tr:even{
	background-color: #e3e3e3;
}
#bodytab1 table{
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center center;
}
table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
} 
				
table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
}      
				
/*************** Pagination ***************/

.pagination {
                text-align: right;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                }
.pagination a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
				color:#3ea3ff;
                }
.pagination a:hover {
				text-decoration:underline;
}
.pagination a.number {
				border: 1px solid #ddd;
                }

.pagination a.current {
                background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
                border-color: #3ea3ff !important;
                color: #fff !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }

/************ Shortcut Buttons ************/

.shortcut-button {
				
                border: 1px solid #ccc;
                background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
                display: block;
                width: 140px;
                margin: 0 0 20px 0;
                }

.shortcut-button span {
                border: 1px solid #fff;
                display:block;
                padding: 15px 10px 15px 10px;
                text-align: center;
                color: #555;
                font-size: 13px;
                line-height: 1.3em;
                }

.shortcut-button span img {
                margin-bottom: 10px;
				width: 64px;
                }

.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #006ace; 
                }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0 28px 0 0;
				padding: 0 !important;
				background: 0;
                }

/*************** Forms ***************/

form label {
                display: block;
                padding: 0 0 10px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 0.75em;
                color: #777;
                }
				
				

            
form .small-input {
                width: 25% !important;
                }
                
form .medium-input {
                width: 50% !important;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 16px !important;
				padding: 8px !important;
                }

                
form select {
	background: #fff;
}
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }


/********************************      Login Page      ********************************/

body#login {
			background-color: #FFF !important;
			background-image:linear-gradient(yellow,#f06d06);
			}
				
#login-wrapper {}
#login-wrapper #login-top {
				width: 100%;
				padding: 30px 0 0px 0;
				text-align: center;
				}
#login-wrapper #login-top img{
	
}
#login-wrapper #login-content{
				text-align: left;
				width: 330px;
				margin: 30px auto;
				padding: 7px;
				background: linear-gradient(to bottom, #606060, #4A4A4A) repeat scroll 0% 0% #606060;
				border: 1px solid #000;
				border-radius: 11px;
				box-shadow: 0px 1px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 0px rgba(255, 255, 255, 0.08) inset, -1px 0px rgba(255, 255, 255, 0.08) inset, 0px 2px 8px rgba(0, 0, 0, 0.5);
				}
#login-wrapper #login-content form{
				padding: 30px 15px;
				background-color: #FFF;
				border-radius: 11px;
				z-index: 90;
				position: relative;
				box-shadow: 0px 0px 5px 0px #000;
				-webkit-box-shadow: 0px 0px 5px 0px #000;
				-moz-box-shadow: 0px 0px 5px 0px #000;
				-o-box-shadow: 0px 0px 5px 0px #000;
}
#login-wrapper #login-content .button{
				font-family: Arial, Helvetica, sans-serif;
				font-weight: normal;
				text-shadow: none;
				position: relative;
				top: -30px;
}
#login-wrapper #login-content label {
				line-height: 30px;
				color: #333;
				font-size: 16px;
				color: #444;
				float: left;
				margin: 5px 0px;
				width: 70px;
				padding: 0;
				}
				
#login-wrapper #login-content input {
				font-size: 14px !important;
				width: 200px;
				float: right;
				margin: 0 0 20px 0;
				border: 0;
				background: #fff;
				}
#login-wrapper #login-content .text-input{
				font-size: 14px;
				width: 200px;
				float: right;
				margin: 0 0 20px 0;
				padding: 10px 5px;
				border: 1px solid #999;
				color: #333;
				border-radius: 3px;
				background: #fff;
				transition: all 300ms;
				box-shadow: 0px 2px 5px 0px #EEE;
				-wbkit-box-shadow: 0px 2px 2px 0px #EEE;
				}
#login-wrapper #login-content .text-input:hover,
#login-wrapper #login-content .text-input:focus{
				box-shadow: 0px 2px 5px 0px #CCC;
				-wbkit-box-shadow: 0px 2px 2px 0px #CCC;
}
#login-wrapper #login-content p {
				padding: 0;
				}
				
#login-wrapper #login-content p#remember-password {
				float: right;
				}
				
#login-wrapper #login-content p#remember-password input {
				float: none;
				width: auto;
				border: 0;
				background: none;
				margin: 0 10px 0 0;
				}
				
#login-wrapper #login-content p .button {
				width: auto;
				margin-top: 20px;
				}
.messageSlide{
	width: 300px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 0px 5px 0px #000;
	-webkit-box-shadow: 0px 0px 5px 0px #000;
	-moz-box-shadow: 0px 0px 5px 0px #000;
	-o-box-shadow: 0px 0px 5px 0px #000;
	padding: 20px 10px 5px 10px;
	background-color: #F90; color: #FFF;
	position: relative;
	margin-top: -10px;
	margin-left: 6px;
	display: none;
	z-index: 80;
}
.messageSlide img{
	float: left;
	width: 20px;
	margin-right: 10px;
}
.messageSlide span{
	font-family: 'calibri';
	font-size: 14px;
	position: relative;
	top: 2px;
}
/*---------------------------------------------------------------*/

.top_content{
	margin-left:242px;
	right:10px;
	
}


.dash_board_panel{
	width:100%;
	-moz-box-shadow: 0 0 3px 1px #CCCCCC;
	-webkit-box-shadow: 0 0 3px 1px #CCCCCC;
	box-shadow: 0 0 3px 1px #CCCCCC;
	margin-top:-12px;
	margin-bottom:25px;
	
}

#right_content{
	width:230px;
	position:absolute;
	right:25px;
	height:350px;
	float:right;
	background: linear-gradient(to bottom, #f7f7f7, #edeaee) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #d4d2d7 #cfcdd2 #c9c7cc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 #fff;
    color: #333;
}
#right_content *{
	
	font-weight: normal;
}
#right_content .left_p{
	font-size: 12px;
}
.dash_board_content{
	background-color:#FFFFFF;
	padding-bottom:20px;
	padding-top:15px;
	padding-left:30px;
	
	
}
.right_content{
	width:210px;
	height:288px;
	background-color:#FFFFFF;
	padding:10px;
}


.right_content .left_p{
	float:left;
	font-weight:bold;
}

.right_content .right_p{
	float:right;
}

.right_content img{
	float:right;
	margin-right:10px;
	padding:1px;
	border:#CCC solid 2px;
}

.top_shortcutbox{
	width:240px;
	height:80px;
	float:left;
	border-top: #2999ff solid 3px;
	
	font-size: 14px;
	
	background: linear-gradient(to bottom, #f7f7f7, #edeaee) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #d4d2d7 #cfcdd2 #c9c7cc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 #fff;
    color: #787878;
	
	margin-right:16px;
	margin-bottom:10px;
	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
}
.top_shortcutbox:hover{
	background: linear-gradient(to bottom, #edeaee, #e1dee2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #bdbbc1 #c3c1c6 #c9c7cc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 1);
    color: #37343b;
	
}
.top_shortcutbox img{
	 margin:20px 10px 5px 20px;
	 width:50px;
	 height:43px;
	 float:left;
}
.top_shortDisc{
	width:150px;
	height:50px;
	float:right;
	margin-top:20px;
	margin-right:10px;
}
.top_shortDisc h5{
	
	font-weight: normal;
}
.top_shortDisc h3{
	font-weight: normal;
    margin-top:5px;
}

@keyframes stitch {
	0%{
		transform:scale(1.0,1.0);
	}
	25%{
		transform:rotateY(180deg);
	}
	50%{
		transform:scale(0.6,0.6);
	}
	75%{
		transform:rotateY(0deg);
	}
	100%{
		transform:scale(1.0,1.0);
	}
}
.panel1{
	width:230px;
	height:200px;
	float:left;
	border:1px solid #e4e4e4;
	opacity:1.0;
	border-radius:5px;
	background:#f5f5f5;
	margin:10px 10px 10px 10px;
	cursor: pointer;
	position: relative;
	text-align:center;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
}
.panel1 .panelIcon{
	margin:10px;
	opacity: 0.6;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-in;
}
.panel1:hover .panelIcon{
	opacity: 1.0;
	animation: stitch 1.5s;
}
.panel1 h3{
	font-family: 'OpenSans-Light';
	padding: 5px;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	box-shadow: 0px -40px 0px 0px #F5F5F5 inset;
}
.panel1:hover h3{
	color: #FFF;
	box-shadow: 0px -40px 0px 0px #2999ff inset;
}
.fileParent{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1.0;
	background-color:#6C6;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.uploadSql input[type='submit']{
	position: fixed;
	top: 200px;
	left: 500px;
}
.panel1 p{
	text-align:center;
	margin:0 10px;
}
.panel1 h3{
 	margin:10px auto 0 auto; text-align:center;
}
#delOption2{
	margin: 0;
	z-index: 9999;
}
.dodelete,.nodelete{
	margin: 0px 4px;
}
#minidel{
	text-align: center;
	background-color: transparent;
	cursor: pointer;
}
#xFadeTwo{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
	display: none;
}
#popUpDel{
	width: 400px;
	vertical-align: middle;
	text-align: center;
	z-index: 8000;
	padding: 0px;
	background-color: #FFF;
	box-shadow: 0px 10px 6px -6px #999;
	-webkit-box-shadow: 0px 10px 6px -6px #999;
	border: 1px solid #CCC;
	border-radius: 4px;
	opacity: 1.0;
}
p.confirm{
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 5px 10px 20px;
	margin: 0px;
	background-image: url(../images/bg-login.gif);
	border-radius: 5px;
	color: #FFF;
}
p.confirm img{
	width: 20px;
}
#popUpDel .nodelete{
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	border-radius: 4px;
	padding: 7px 10px 7px 10px;
	color: #fff !important;
	font-size: 12px;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	opacity: 1.0;
	box-shadow: 0 5px 5px -5px #CCC;
}
#popUpDel .dodelete{
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x;
	background-color:#9E9E9E;
	border: 1px solid #2999ff;
	border-radius: 4px;
	padding: 7px 10px 7px 10px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	opacity: 1.0;
	box-shadow: 0 5px 5px -5px #CCC;
}
#popUpDel .close_popup{
	background-image: url(../images/close_popup.png);
	background-repeat: no-repeat;
	background-size: 20px;
	padding: 10px;
	float: right;
	margin-right: -10px;
	margin-top: -10px;
	cursor: pointer;
	transition: all 200ms;
}
#popUpDel .close_popup:hover{
	transform: translateY(-2px);
}
#popUpDel .close_popup:active{
	transform: translateY(2px);
}
#popUpDel .nodelete,
#popUpDel .dodelete{
	margin: 10px; 0px;
}
#popUpDel .nodelete:hover,
#popUpDel .dodelete:hover{
	box-shadow: 0 0px 5px 0px #000;
}
#popUpDel .nodelete:active,
#popUpDel .dodelete:active{
	box-shadow: 0 0px 5px 0px #666 inset;
}
#minidel .dodelete{
	color: #F00;
	transition: all 200ms;
}
#minidel .nodelete{
	transition: all 200ms;
}
#minidel .nodelete:hover,
#minidel .dodelete:hover{
	font-size: 14px;
}
.pointer{
	font-size: 14px !important;	
	cursor: pointer;
	background: url(../images/bg-button-red.gif)  top left repeat-x !important;
	color: #FFF;
	border-radius: 3px;
	padding: 4px 6px;
	opacity: 0.6;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	transition: all 300ms;
	border: none;
}
.pointer:hover{
	opacity: 1.0;
	color: #FFF;
	text-decoration: none;
}
div.FullScreenLoader{
	width: 32px;
	height: 32px;
	float: right;
	background-image: url(../images/load.gif);
	background-size: 32px;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 5px 0px #000;
	-webkit-box-shadow: 0px 0px 5px 0px #000;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 5px;
}
.loader{
	width: 25px;
	height: 25px;
	float: right;
	background-image: url(../images/load.gif);
	background-size: 25px;
	background-repeat: no-repeat;
}
.loadingContent{
	transition: all 300ms;
	background-image: url(../images/contentLoad.gif);
	background-size: 48px;
	background-position: center center;
	background-repeat: no-repeat;
}
#xfade{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	background-image: url(../images/xfade.gif);
	background-size: 48px;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.8;
	display: none;
}
#fade{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.8;
	display: none;
}
#light{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(50,50,50,0.5);
	opacity: 0.7;
	display: none;
}
#filter_like{
	font-size: 16px;
	width: 100px;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 5px 5px;
	color: #666;
	transition: all 200ms;
	-webkit-transition: all 200ms;
}
#filter_like:focus{
	border: 1px solid #999;
	box-shadow: 0px 5px 10px -5px #666;
	-webkit-box-shadow: 0px 5px 10px -5px #666;
}
#clear_filter{
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	font-size: 14px;
	padding: 3px 10px;
	color: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.3;
}
#blue_clear_filter{
	margin: 0 5px;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	font-size: 12px;
	padding: 2px 5px;
	color: #FFF;
	border-radius: 90% 0%;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.3;
}
#red_clear_filter{
	cursor: default;
	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	color: #FFF;
	border-radius: 100%;
	padding: 2px 7px;
	opacity: 0.3;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	transition: all 200ms;
	}
#view_button{
	font-weight: normal;
	font-size: 14px !important;
	margin: 0;
	cursor:pointer;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	padding: 4px 6px;
	color: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.7;
}
.addDetailsQuick{
	font-weight: normal;
	margin: 0;
	cursor:pointer;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	padding: 5px 6px !important;
	height: 15px;
	color: #FFF;
	border-radius: 3px;
	
	opacity: 0.7;
	webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.addDetailsQuick:hover{
	opacity: 1.0;
	box-shadow: 0 2px 5px 0px #06C;
	-webkit-box-shadow: 0 2px 5px 0px #06C;
}
.addDetailsQuick:focus{
	opacity: 1.0;
	box-shadow: 0 2px 5px 0px #06C;
	-webkit-box-shadow: 0 2px 5px 0px #06C;
}
#view_button:hover{
	opacity: 1.0;
}
.update_image{
	width:200px;
	float:left;
	margin-left: 182px;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 2px;
}
.eg{
	font-size: 16px;
	font-weight: normal;
	color: #0C0;
	float: right;
	margin-right: 130px;
	margin-top: 5px;
}
.invalid_input{
	border: #F00;
}

.summery_body{
	transition: height 100ms;
}
.pagination_row{
	text-align: center;
	vertical-align: middle;
}
.nav_page{
	font-weight: normal;
	margin: 0;
	margin-right: 5px;
	cursor:pointer;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	font-size: 12px;
	padding: 2px 5px;
	color: #FFF;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.5;
	font-family: Verdana, Arial, sans-serif;
	transition: all 200ms;
	cursor: pointer;
	opacity: 1.0;
	vertical-align: middle;
}
.nav_page:hover{
	opacity: 1.0;
}
.current_nav_page{
	background: url(../../images/r_button.jpg)  top left repeat-x !important;
	font-weight: normal;
	cursor:pointer;
	border: 0;
	font-size: 12px;
	padding: 2px 5px;
	color: #FFF;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.5;
	font-family: Verdana, Arial, sans-serif;
	transition: all 200ms;
	cursor: pointer;
	opacity: 1.0;
	vertical-align: middle;
}
.current_nav_page:hover{
	opacity: 1.0;
	color: #FFF;
}
.total_records_pagin{
	font-weight: normal;
	margin: 0;
	margin-right: 5px;
	cursor:pointer;
	float: right;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	font-size: 12px;
	padding: 2px 5px;
	color: #FFF;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.5;
	font-family: Verdana, Arial, sans-serif;
	transition: all 200ms;
	cursor: default;
	opacity: 1.0;
}
.total_records_pagin:hover{
	color: #FFF;
}
#dialogBox{
	background-color: #FFF;
	border: 1px solid #999;
	position: fixed;
}
div.ui-datepicker{
	font-size: 12px;
}
#datepicker2,
.datepicker,
#datepicker{
	background-image: url(../images/calendar.png);
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: 125px center;
	cursor: pointer;
}
.datepicker{
	background-image: url(../images/calendar.png);
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: 202px center;
	cursor: pointer;
}
.trans_file_box{
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	padding: 5px;
	color: #fff !important;
	font-size: 11px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	text-align: center;
	width: 60px;
	height: 15px;
	position: relative;
}
.trans_file{
	opacity: 0;
	position: absolute;
	cursor: pointer;
}
tr.calculations{
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
}
.calculations td,
.totals td{
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	font-family: 'OpenSans-Light';
	font-size: 16px;
}
.calculations td:last-child,
.totals td:last-child{
	border-right: 1px solid #CCC;
}
.calculations td{
	border-bottom: 0px solid #CCC;
	background-color: #FFF;
	text-align: center;
}
.prod_len{
	width:98%;
	height: 20px;
	border: 1px solid #EEE;
	text-align:center;
}
.prod_len:hover,
.prod_len:focus{
	box-shadow: 0px 0px 2px 0px #666;
}
#popUpForm2,
#popUpForm3{
	width: 250px;
	height: auto;
	background-color: #FFF;
	border: 5px solid rgba(200,200,200,0.3);
	box-shadow: 0px 0px 6px 0px #CCC;
	-webkit-box-shadow: 0px 0px 6px 0px #CCC;
	-moz-box-shadow: 0px 0px 6px 0px #CCC;
	border-radius: 10px;
	padding: 5px 20px 20px 20px ;
	display:none;
}
#popUpForm{
	width: 500px;
	height: auto;
	background-color: #FFF;
	border: 5px solid rgba(200,200,200,0.3);
	box-shadow: 0px 0px 6px 0px #CCC;
	-webkit-box-shadow: 0px 0px 6px 0px #CCC;
	-moz-box-shadow: 0px 0px 6px 0px #CCC;
	border-radius: 10px;
	padding: 0px;
	display:none;
}
#popUpForm3 p,
#popUpForm2 p{
	font-family: 'calibri' !important;
	font-size: 18px;
	padding: 0px;
	margin-top: 0px;
}
#popUpForm2 p.textBoxGo,
#popUpForm3 p.textBoxGo{
	float:left;
	position: relative;
	left: 0px;
	width: 200px;
	height: 35px;
	vertical-align: middle;
	background-color: #FFF;
	border: 2px solid #CCC;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
#popUpForm2 i,
#popUpForm3 i{
	color: #FFF;
	border-radius: 5px 5px;
	font-size: 16px;
	padding: 8px;
	cursor:pointer;
}
#popUpForm2,
#popUpForm3{
	transition: all 300ms ease-in-out 100ms;
	-webkit-transition: all 300ms ease-in-out 100ms;
	left: -500px;
	height: 10px;
	overflow:hidden;
}
#popUpForm2 i:hover,
#popUpForm3 i:hover{
	text-shadow: 0px 0px 3px #000;
	color: #2999ff !important;
}
#popUpForm2 i.fa-times,
#popUpForm3 i.fa-times{
	float: right;
	margin: -10px -20px 0px 0px;
	font-size: 22px;
	color: #CCC;
}
#popUpForm2 i.fa-arrow-right,
#popUpForm3 i.fa-arrow-right{
	position: absolute;
	right: -5px;
	top: -7px;
	color: #666 !important;
	font-size: 26px;
}
#popUpForm2 i.fa-arrow-right:hover,
#popUpForm3 i.fa-arrow-right:hover{
	color: #2999ff !important;
}
#popUpForm2 input[type='text'],
#popUpForm3 input[type='text']{
	font-size: 16px;
	width: 190px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	border: none;
	background-color: transparent;
	color: #666;
}
#popUpForm #form{
	margin: 0px;
}
#popUpForm #form .caption{
	width:100px;
}
#popUpForm .popup_title{
	float: left;
	margin: 10px;
	color: #999;
	border-bottom: 1px solid #666;
	font-size: 18px;
	text-shadow: 0px 0px 2px #CCC;
}
.formFade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	background-image: url(../images/xfade.gif);
	background-size: 32px;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.8;
	display: none;
}
.quickSubmit input[type='text']{
	border: 1px solid #999;
	padding: 2px 2px;
	border-radius: 3px;
	height: 30px;
	font-size: 16px;
}
.quickSubmit input[type='text']:focus,
.quickSubmit input[type='text']:hover{
	border: 1px solid #2999FF;
}
.quickSubmit input:focus{
	box-shadow: 0 3px 4px -2px #000;
	-webkit-box-shadow: 0 3px 4px -2px #000;
}
.quickSubmit select{
	padding: 2px;
	border-radius: 3px;
	height: 30px;
}
#form .addedNote{
	float: left;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
	font-weight: normal;
	margin: 10px 0px 10px 50px;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	padding: 7px;
	color: #FFF;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	line-height: 100%;
	width: 70%;
	opacity: 0.5;
	cursor: default;
}
textarea{
	
	font-size: 14px;
	padding-top: 5px;
	resize: vertical;
}
.centerTextall *{
	text-align: center;
}
table.prom .pointer{
	cursor: pointer;
	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	color: #FFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
	padding: 0px 5px;
	opacity: 0.6;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	border: none;
}
table.prom .pointer:hover{
	opacity: 1.0;
}
table.prom #view_button{
	font-weight: normal;
	margin: 5px !important;
	cursor:pointer;
	background-image: url(../images/bg-button-green.gif) !important;
	border: 0;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	padding: 2px 5px;
	color: #FFF;
	border-radius: 3px;
	opacity: 0.5;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
}
table.prom #view_button:hover{
	opacity: 1.0;
}
#view_button_large{
	float: right;
	margin: 10px 50px 10px 0px;
	padding: 5px;
	width: 10%;
	font-weight: normal;
	cursor:pointer;
	background:url('../images/bg-button-green.gif') top left repeat-x ;
	border: 0;
	color: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 2px -2px #000;
	-webkit-box-shadow: 0 2px 2px -2px #000;
	opacity: 0.5;
}
#view_button_large:hover{
	opacity: 1.0;
}
.quickSubmit td{
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 1px !important;
}
span.shownCode{
	
	font-weight: normal;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	position: relative;
	left: 5px;
	top: 7px;
}
span.legend{
	position: absolute;
	left: 20px;
	top: -12px;
	background-color: #EEE;
	color: #333;
	padding: 2px 5px;
}
.selectDropDown{
	font-family: Verdana, Arial, sans-serif;
	margin-top: 2px;
	display: inline-block;
	background-color: #FFF !important;
	border: 1px solid #999 !important;
	padding: 5px 0px 5px 5px;
	color: #666 !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
}
.selectDropDown:active{
	border: 1px solid #2999ff !important;
	box-shadow:0px 0px 5px 0px #666 inset;
	-moz-box-shadow:0px 0px 5px 0px #666 inset;
	-webkit-box-shadow:0px 0px 5px 0px #666 inset;
}
.selectDropDown:hover,
.selectDropDown:focus{
	border: 1px solid #2999ff !important;
	box-shadow: 0px 0px 2px 0px #06C;
	-moz-box-shadow: 0px 0px 2px 0px #06C;
	-webkit-box-shadow: 0px 0px 2px 0px #06C;
}
.selectDropDown .caret{
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle;
	border-top-color: #666;
	border-bottom-color: #666;
}
tr.transactions:hover{
	background-color: #EEE;
}
input[type='text']{
	font-family: 'OpenSans-Light' !important;
}
.darkBLue{
	color: #191DBF;
}
.blue{
	color: blue;
}
div.submitArrow{
	font-size: 20px;
	color: #333;
	text-shadow: 0px 0px 5px #FFF;
	position: absolute;
	right: -5px;
	top: 0px;
	padding: 5px;
	cursor: pointer;
	transition: all 300ms;
}
div.submitArrow:hover{
	color: #1D87E9;
}
div.listEye{
	font-size: 20px;
	color: #333;
	text-shadow: 0px 0px 5px #FFF;
	position: absolute;
	right: 25px;
	top: 0px;
	padding: 5px;
	cursor: pointer;
	transition: all 300ms;
}
div.listEye:hover{
	color: #1D87E9;
}
/* Popup List Plugin */
div.popupList{
	width: 370px;
	vertical-align: middle;
	text-align: center;
	z-index: 8000;
	padding: 0px;
	background-color: #FFF;
	box-shadow: 0px 10px 6px -6px #999;
	-webkit-box-shadow: 0px 10px 6px -6px #999;
	border: 1px solid #CCC;
	border-radius: 4px;
	opacity: 1.0;
	display:none;
	overflow: hidden;
}
div.popupList p.popupHead .fa-times{
	float: right;
	margin-right: 10px;
	margin-top: -5px;
	font-size: 24px;
	cursor: pointer;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
}
div.popupList p.popupHead .fa-times:hover{
	color: #1D87E9;
}
div.popupList div.scrollableDiv{
	max-height: 100px;
	width: 370px;
}
p.popupHead{
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	margin: 0px;
	background-image: url(../images/bg-login.gif);
	border-radius: 5px;
	color: #FFF;
}
div.popupList i.fa-chevron-up{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 16px;
	color: #FFF;
	opacity: 0.0;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
}
div.popupList i.fa-chevron-down{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 16px;
	color: #FFF;
	opacity: 0.0;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
}
div.popupList ul.ul-list{
	list-style:none;
	margin: 0;
	padding: 0;
	width: 370px;
	height: auto;
}
div.popupList ul.ul-list li{
	padding: 5px;
	cursor: pointer;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
}
div.popupList ul.ul-list li:hover{
	background-color: #1D87E9;
	color: #FFF;
}

/*facebook preloader animation*/

#facebook{
	float:right;
	margin-right: 20px;
	margin-top: 10px;
}
.facebook_block{
	background-color:#FFF;
	border:2px solid #1D87E9;
	float:left;
	height:15px;
	margin-left:5px;
	width: 5px;
    opacity:0.5;
	-webkit-transform:scale(0.7);
	-webkit-animation-name: facebook;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	-webkit-transform:scale(0.7);
	animation-name: facebook;
 	animation-duration: 1s;
 	animation-iteration-count: infinite;
 	animation-direction: linear;
	}
#block_1{
	animation-delay: .3s;
 	-webkit-animation-delay: .3s;
 }
#block_2{
	animation-delay: .4s;
 	-webkit-animation-delay: .4s;
}
#block_3{
	animation-delay: .5s;
 	-webkit-animation-delay: .5s;
}
@-webkit-keyframes facebook{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
	0%{transform: scale(1.2);opacity:1;}
	100%{transform: scale(0.7);opacity:0.1;}
}
@keyframes facebook{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
	0%{transform: scale(1.2);opacity:1;}
	100%{transform: scale(0.7);opacity:0.1;}
}

input.input_size,.fieldDisplay,input.input_readonly{
	-webkit-box-sizing: content-box !important; 
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
div.addShed,
div.addCustomer{
	position: absolute;
	right: -35px;
	top: 2px;
	margin: 0 !important;
	padding: 8px;
	background-image: url(../images/bg-button-green.gif);
	background-position: top left;
	border-radius: 4px;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	cursor: pointer;
}
div.addShed i,
div.addCustomer i{
	color: #FFF;
	transition: all 400ms;
	-webkit-transition: all 400ms;
}
div.addShed:hover i,
div.addCustomer:hover i{
	transform: rotate(90deg) scale(1.2,1.2);
	-webkit-transform: rotate(90deg) scale(1.2,1.2);
}
div.addShed:active i,
div.addCustomer:active i{
	transform: rotate(90deg) scale(0.5,0.5);
	-webkit-transform: rotate(90deg) scale(0.5,0.5);
}
div.addShed:hover,
div.addCustomer:hover{
	box-shadow: 0px 0px 2px 0px #06C;
	-moz-box-shadow: 0px 0px 2px 0px #06C;
	-webkit-box-shadow: 0px 0px 2px 0px #06C;
}
div.addShed:active,
div.addCustomer:active{
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

span.addItem{
	float: right;
	margin-right: 20px;
}
span.addItem i{
	color: #CCC;
	cursor:pointer;
	transition: all 300ms ease-out 100ms;
	-webkit-transition: all 300ms ease-out 100ms;
}
span.addItem:hover i{
	color: #1D87E9;
	transform: rotate(90deg) scale(1.4,1.4);
	-webkit-transform: rotate(90deg) scale(1.4,1.4);
}
span.addItem:active i{
	color: #1D87E9;
	transform: rotate(90deg) scale(0.1,0.1);
	-webkit-transform: rotate(90deg) scale(0.1,0.1);
}
.underTheTable .newForm,
.underTheTable .reverseThisVoucher,
.underTheTable .btn btn-info,
.content-box-header .btn btn-info{
	float: right;
	margin: 10px;
	margin-top: 10px;
	padding: 8px;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	color: #fff !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 1px #06C;
	-moz-box-shadow: 0px 1px 2px 1px #06C;
	-webkit-box-shadow: 0px 1px 2px 1px #06C;
	opacity: 0.8;
}
.underTheTable .newForm:hover,
.underTheTable .reverseThisVoucher:hover,
.underTheTable .btn btn-info:hover,
.content-box-header .btn btn-info:hover{
	opacity: 1.0;
	box-shadow: 0px 2px 4px 1px #06C;
	-moz-box-shadow: 0px 2px 4px 1px #06C;
	-webkit-box-shadow: 0px 2px 4px 1px #06C;
}
.underTheTable .newForm:active,
.underTheTable .reverseThisVoucher:active,
.underTheTable .btn btn-info:active,
.content-box-header .btn btn-info:active{
	box-shadow:0px 0px 2px 0px #666 inset !important;
	-moz-box-shadow:0px 0px 2px 0px #666 inset !important;
	-webkit-box-shadow:0px 0px 2px 0px #666 inset !important;
}
.button i{
	font-size: 12px;
}
.ChequeBoxAll,.ChequeBox{
	outline: none;
}
.underTheTable{
	width: 100%;
}
input[type='radio']{
	position: relative;
	top: 2px;
	width: 15px;
	height: 15px;
}
span.radioSpan{
	padding:5px;
	padding-bottom: 10px;
}
select:focus,
select:hover{
	box-shadow: 0px 2px 4px 1px #06C;
	-moz-box-shadow: 0px 2px 4px 1px #06C;
	-webkit-box-shadow: 0px 2px 4px 1px #06C;
}
i.addProduct{
	font-size: 16px;
	color: #06C;
	position: relative;
	top: 2px;
	left: 30px;
	transition: all 300ms;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	cursor: pointer; 
}
i.addProduct:hover{
	transform: scale(1.2,1.2) rotate(90deg);
	-webkit-transform: scale(1.2,1.2)  rotate(90deg);
	-moz-transform: scale(1.2,1.2) rotate(90deg);
	-o-transform: scale(1.2,1.2) rotate(90deg);
}
i.addProduct:active{
	transform: scale(1.0,1.0) rotate(90deg);
	-webkit-transform: scale(1.0,1.0) rotate(90deg);
	-moz-transform: scale(1.0,1.0)  rotate(90deg);
	-o-transform: scale(1.0,1.0) rotate(90deg);
}
i.addNewStitch{
	font-size: 16px;
	color: #06C;
	float: right;
	margin-right: 20px;
	transition: all 300ms;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	cursor: pointer; 
}
i.addNewStitch:hover{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
}
i.addNewStitch:active{
	transform: scale(1.0,1.0);
	-webkit-transform: scale(1.0,1.0);
	-moz-transform: scale(1.0,1.0);
	-o-transform: scale(1.0,1.0);
}
button.view_button{
				font-family: Verdana, Arial, sans-serif;
				font-size: 12px !important;
				font-weight: normal;
                display: inline-block;
				background-image: url(../images/bg-button-green.gif) !important;
				background-color:#9E9E9E !important;
                border: 1px solid #2999ff !important;
				border-radius: 3px;
				padding: 4px 7px !important;
				height: 30px;
                color: #fff !important;
				transition: all 200ms;
                cursor: pointer;
                }
button.view_button:focus,
button.view_button:hover{
				box-shadow: 0px 2px 2px 0px #06C;
				-moz-box-shadow: 0px 2px 2px 0px #06C;
				-webkit-box-shadow: 0px 2px 2px 0px #06C;
                }
button.view_button:active{
				box-shadow:0px 0px 2px 0px #06C  !important;
				-moz-box-shadow:0px 0px 2px 0px #06C  !important;
				-webkit-box-shadow:0px 0px 2px 0px #06C  !important;
}
span.red{
	color:red !important;
}
span.green{
	color: green !important;
}
.captions{
	 text-align:left; 
	 margin-top:5px; 
	 margin-left:5px;
	 font-weight:600
}
.fetch{
	 width:97%; 
	 border-bottom:1px solid #CCC; 
	 height:20px; 
	 margin:0 5px
}
.column_heads{
	 text-align:center; 
	 margin-top:5px;
	 font-weight:600
}
.dotted_white{
	border-bottom:1px solid #CCC; 
	height:25px
}
.dotted_grey{
	border-bottom:1px solid #CCC; 
	height:25px;
	background-color:#F4F4F4;
}
.requirement{
	 float:left; 
	 width:98.8%; 
	 padding:5px 5px;
}
.line_data{
	padding-left:20px; 
	border-bottom:1px solid #CCC
}
.balance{
	padding-left:20px; 
	border-bottom:1px solid #CCC
}
.receiving_head{
	 float:left;
	 width: 30%;
	 padding-top:10px;
	 text-align:right
}
.receive_total{
	 float:left; 
	 width:70%;
	 height:25px; 
	 border-bottom:1px solid #CCC
}
.div_daily_expenditure{
	width:51%; 
	float:left; 
	margin:0; 
	margin-right:1px; 
	border:1px solid #CCC; 
	padding-bottom:15px
}
.div_requirement{
	 width:48.5%; 
	 float:left; 
	 margin:0; 
	 border:1px solid #CCC; 
	 padding-bottom:3px
}
.signature{
	 float:right; 
	 border-top:1px solid #999; 
	 margin-top:50px; 
	 margin-right:50px; 
	 font-size:18px; 
	 width:150px; 
	 text-align:center
}
.receipt, .expense{
	 width:33%; 
	 float:left; 
	 margin:0; 
	 border:1px solid #CCC;
}
.closing_balance{
	 width:33%; 
	 float:left; 
	 margin:0; 
	 border:1px solid #CCC;
}
.staff_data{
	 width:60%; 
	 border-bottom:1px solid #CCC; 
	 height:15px; 
	 padding-left: 10px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 float:left;
}
.header_time_time{
	width:10%;
	border-bottom:1px solid #CCC; 
	float:left; 
	height:25px
}
.header_time{
	width:25%;
	border-bottom:1px solid #CCC; 
	float:left; 
	height:25px;
	text-align:center;
}
.leave_row{
	 width:45%; 
	 border-bottom:1px solid #CCC; 
	 height:25px; 
	 float:left;
	 margin-left:5px
}
.leave_from{
	 width:30px;
	 float:left;
	 padding-top:15px;
}
.leave_from_date{
	 width:64px;
	 border-bottom:1px solid #CCC; 
	 float:left; 
	 height:25px
}
.leave_to{
	 width:20px;
	 float:left;
	 padding-top:15px;
}
.leave_to_date{
	 width:63px;
	 border-bottom:1px solid #CCC; 
	 float:left; 
	 height:25px
}
.div_staff_attendence{
	 width:34.5%; 
	 float:left; 
	 margin:0; 
	 border:1px solid #CCC; 
	 padding-bottom:18px
}
.hardware_stationery{
	 width:29.5%; 
	 float:left; 
	 margin:0;
}
.heading{
	background-color:#333; 
	color:#FFF; 
	text-align:center; 
	padding:6px 0;
	font-size: 16px;
	margin:auto 31px;
	font-weight:bold;
	font-family: 'calibri';
}
table th.bg-white{
	background: #FFF !important;
}
table td.bg-grey{
	background: #F8F8F8 !important;
}
.course_heading{
	 width:240px;
	 float:left;
	 padding:5px;
	 text-align:center
}
input.other{
	 width:130px; 
	 border:none; 
	 border-bottom:1px solid #666; 
	 float:none; 
	 height:15px;
	 margin-bottom:10px
}
.course_input{
	 width:250px;
	 font-weight:normal !important; 
	 border:1px solid #CCC; 
	 font-size:12px;
}
.undertaking{
	 float:left;
	 font-weight:normal !important; 
	 font-size:12px;
	 text-align:justify; 
	 padding:5px;
	 padding-top:13px; 
	 line-height:20px;
	 width:620px;
}
.image{
	  float:left;
	  width:150px; 
	  margin-top:10px; 
	  margin-left:70px
}
.personal{
	 float:left;
	 width:500px
}
.image_upload{
	 width:150px;
	 height:135px;
	 border:1px solid #CCC;
	 padding:1px
}
.other_detail{
	 width:125px; 
	 height:15px; 
	 float:right;
	 margin-bottom:10px; 
	 margin-right:5px; 
	 border:none; 
	 border-bottom:1px dotted #999999;
}


/* saving.... Loader Animation */
#movingBallG{
	display: none;
	position:absolute;
	left: 10px;
	top: 10px;
	width:128px;
	height:10px;
}

.movingBallLineG{
position:absolute;
left:0px;
top:4px;
height:2px;
width: 128px;
background-color:#06C;
}
.hangBallG{
	background-color:#F00;
	position:absolute;
	top:0;
	left:0;
	width:10px;
	height:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
.movingBallG{
background-color:#FFFFFF;
position:absolute;
top:0;
left:0;
width:10px;
height:10px;
-moz-border-radius:5px;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:1.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:1.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:1.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:1.7s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_movingBallG;
animation-duration:1.7s;
animation-iteration-count: infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:118px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:118px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:118px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:118px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:118px;
}

100%{
left:0px;
}

}
.rowToggler{
	float: right;
	margin-right: 20px;
	cursor:pointer;
	color: #06C;
	font-size: 18px;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
}



.addNew{
	float: right;
	margin-right: 20px;
	background-image: url(../images/bg-button-green.gif) !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	padding: 7px 7px !important;
	color: #fff !important;
	border-radius: 3px;
	cursor: pointer;
}
.addNew:focus,
.addNew:hover{
				box-shadow: 0px 2px 4px 1px #06C;
				-moz-box-shadow: 0px 2px 4px 1px #06C;
				-webkit-box-shadow: 0px 2px 4px 1px #06C;
                }
.addNew:active{
				box-shadow:0px 0px 2px 0px #666  !important;
				-moz-box-shadow:0px 0px 2px 0px #666  !important;
				-webkit-box-shadow:0px 0px 2px 0px #666  !important;
}

.removeIt{
	float: right;
	margin: 5px;
	background: url(../images/bg-button-red.gif)  top left repeat-x !important;
	border: 1px solid #C30 !important;
	padding: 7px 7px!important;
	border-radius: 4px;
	color: #fff !important;
	cursor: pointer;
	font-weight: normal;
	transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in 100ms;
}
.removeIt:focus,
.removeIt:hover{
				box-shadow: 0px 2px 4px 1px #C30;
				-moz-box-shadow: 0px 2px 4px 1px #C30;
				-webkit-box-shadow: 0px 2px 4px 1px #C30;
                }
.removeIt:active{
				box-shadow:0px 0px 2px 0px #666  !important;
				-moz-box-shadow:0px 0px 2px 0px #666  !important;
				-webkit-box-shadow:0px 0px 2px 0px #666  !important;
}
table td .fa{
	transition: all 100ms ease-in;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
}


input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	top:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	height:23px; 
	display:inline-block;
	line-height:23px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:23px;
	vertical-align:middle;
	cursor:pointer;

}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -23px;
}
label.css-label {
	background-image:url('../images/csscheckbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: normal;
}



/*  SideBar Prescriptions */

.sideBar{
	width: 250px;
	min-height: 400px;
	position: fixed;
	top: 170px;
	right: 10px;
	z-index: 100;
	background-color:#FFF;
	color: #333;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px #999;
	transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	overflow-y:auto;
}
.sideBar.sideBarOpen{
	right: 10px;
}
.sideBar.sideBarClose{
	right: -230px;
}
.sideBar .pull-button{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 20px;
	background-color:#F5F5F5;
	color: #666;
	cursor: pointer;
}
.sideBar .pull-button:hover{
	background-color: #359fff;
	color: #FFF;
}
.sideBar .pull-button i{
	font-size:26px;
	margin: 190px 5px;
}
.sideBar .confirm{
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 5px 10px 30px;
	margin: 0px;
	background-image: url(../images/bg-login.gif);
	border-radius: 0px;
	color: #FFF;
}
.sideBar .confirm i{
	font-size: 18px;
	color: #FFF;
}
.sideBar .rightContenty{
	width: 210px;
	position: absolute;
	right: 0px;
	top: 50px;
}
.sideBar .rightContenty .list{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.sideBar .rightContenty .list li:nth-child(even){
	background-color: #f5f5f5;
}
.sideBar .rightContenty .list li{
	padding: 10px 10px;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0px 0px 2px 0px #CCC inset;
}
.sideBar .rightContenty .list li:hover{
	background-color: #06F;
	color: #FFF;
}
.sideBar .rightContenty .list li .tokenSpanNormal{
	float: right;
	margin: 0px 10px;
	padding: 2px 5px;
	background-color:#999;
	color: #FFF;
	border-radius: 2px;
}
.sideBar .rightContenty .list li .tokenSpanEmergence{
	float: right;
	margin: 0px 10px;
	padding: 2px 5px;
	background-color:#F00;
	color: #FFF;
	border-radius: 2px;
}
.lightFade{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-image:url(../images/afade.gif);
	background-color: rgba(255,255,255,0.8);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 50% 50%;
	display: none;
}
.spareBox{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	margin: 0px 5px;
	padding: 2px 5px;
	border: 1px solid #CCC;
	background-color: #F5F5F5;
}
.spareBoxSmall{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	padding: 2px 5px;
}
@charset "utf-8";
/* CSS Document */

#search_form{
	float:left;
	margin:10px;	
	margin-top:0px;
}
#search_form .caption{
	font-family: 'calibri';
	font-size: 16px;
	width:200px;
	margin-top:5px;
	font-weight:normal;
}
#search_form .field{
	width:210px;
}
.image_button{
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	border-radius: 4px;
	padding: 5px 10px;
	margin: 4px;
	color: #fff !important;
	font-size: 12px;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	position: relative;
}
.image_button:hover{
	box-shadow: 0px 0px 2px 0px #06C;
	-moz-box-shadow: 0px 0px 2px 0px #06C;
	-webkit-box-shadow: 0px 0px 2px 0px #06C;
}

.image_button:active{
	box-shadow:0px 0px 5px 0px #666 inset;
	-moz-box-shadow:0px 0px 5px 0px #666 inset;
	-webkit-box-shadow:0px 0px 5px 0px #666 inset;
}
.image_button input[name='image']{
	opacity: 0.0;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
#search_form .field .input_size{
	width:210px;
}

.line_check{
	width:95%;
	height:35px;
	border:1px solid #CCC;
	margin:5px auto 0 auto;
	border-radius:5px;
	background:#F8F8F8;
	cursor:pointer;
}
.line_check h3{
	font-size:15px;
	font-weight:normal;
	line-height:20px;
	padding:5px 5px 0 5px;
}
.line_right .line_check{
	width:90%;
	float:right;
	margin-right:30px;
	margin-top:5px;
}

.chek{
	width:20px;
	height:20px;
	margin:5px;
	float:left;
}


#form{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin:10px 15px;
}
.field-button-top{
	float:right;
	width:441px;
	margin-top:-3px;
	margin-right:0px;
	padding:10px;
}
#form .title{
	clear:both;
	margin:40px 5px 20px 5px;	
	border-bottom:solid 1px #9ca09e;
	font-size:18px;
	font-weight:bold;
	color:#474b49;
	line-height:10px;
}
#form .title_top{
	clear:both;
	margin: 0px 50px 20px 50px;	
	padding-bottom: 10px;
	border-bottom:solid 1px #9ca09e;
	font-size:18px;
	font-weight:bold;
	color:#474b49;
	line-height:10px
}

#form .caption, #bank_details .caption{
	float:left;
	width:150px;
	height:15px;
	margin-left:20px;
	margin-right:11px;
	margin-top:10px;
	text-align:right;
	font-size:14px;
	color:#333333;
	line-height:26px ;
}
#form .caption_title{
	float:left;
	width:250px;
	height:15px;
	margin-left:105px;
	margin-right:110px;
	margin-top:10px;
	text-align:left;
	font-size:24px;
	color:#333333;
}

#form .caption_remarks{
	float:left;
	width:50px;
	height:15px;
	margin-left:90px;
	margin-right:11px;
	margin-top:7px;
	font-size:14px;
	padding:5px 10px;
	font-weight:bold; 
	background-color:#999; 
	color:#FFF
}
#form .caption_1{
	float:left;
	width:160px;
	padding:5px 0;
	font-size:14px;
	color:#333333;
	text-align:center
}
#bank_details .caption_1{
	float:left;
	width:100px;
	height:15px;
	margin-left:20px;
	margin-right:11px;
	margin-top:0px;
	text-align:right;
	font-size:14px;
	color:#333333;
}

#form .field{
	float:left;
	width:250px;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
/*	margin-bottom:5px;
*/}
#form .caption_lab{
	position: relative;
	width:98%;
	height: 35px;
	font-size:14px;
	color:#333333;
	line-height:26px ;
	background-color: #F8F8F8;
	border: 1px solid #EEE;
	margin-bottom:5px;
	margin-left: 10px;
}

#form .field_lab{
	float:left;
	width:20px;
	margin-top:2px;
	margin-left:15px;
	font-weight:normal;
	font-size:14px;
	margin-bottom:5px;
}

#form .field_personal{
	float:left;
	width:300px;
	margin-top:10px;
	font-weight:bold;
	font-size:14px;
/*	margin-bottom:5px;
*/}

#form .field .course_left{
	float:left;
	width:160px;
	margin-left:15px
}
#form .course_left .sub_field{
	width:160px;
	font-weight:normal !important
}
#form .course_left input[type=checkbox]{
	margin:16px 0;
	margin-left:5px
}

#form .field2{

	width: 340px;
}

#form .field_1, #bank_details .field_1{
	float:left;
	width:160px;
	margin-top:5px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
}
#form .field_title{
	width:250px;
	margin-top:5px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
	float:right; 
	margin-right:100px; 
	margin-top:10px;
}
.field_line{
	border:none;	
	background:none;
	border-bottom:solid 1px #333333;
}
#form .field .image_validate{
	float:left;
	margin-left:20px;
	
}
#form .field .input_size, #form .field_personal .input_size, #form .field_medicine .input_size{
	float:left;
	width: 100%;
	height: 25px;
	font-size: 16px;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 5px #ccc;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
table .input_size{
	float:left;
	width: 100%;
	height: 25px;
	font-size: 16px;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 5px #EEE;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
table .input_size:hover{
	border-color: #9ecaed;
	box-shadow: 0 0 2px #9ecaed;
}
table .input_size:focus{
	border-color: #06F;
	box-shadow: 0px 0px 4px 0px #06F;
}
#form .field .input_size_dotted{
	float:left;
	width: 300px;
	font-size: 16px;
	padding-left: 5px;
	height:25px;
	border: none;
	border-bottom: 1px dotted #999;
}

#form .field textarea{
	float:left;
	width: 299px;
	font-size: 16px;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}

#form .field .input_size_min{
	width: 90px;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 2px #EEE;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
#form .dropdown_size{
	float:left;
	width: 303px;
	padding: 2px;
	border: 1px solid #CCC;
	height:25px;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
#form .dropdown_size:hover{
	border:1px solid rgb(158, 202, 237);
}
.input_readonly{
	float:left;
	width: 295px;
	padding-left: 5px;
	color: #666;
	background-color: #f5f5f5;
	height:25px;
	cursor:default !important;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border: 1px dashed #CCC !important;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 2px #eee inset;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
.textarea_fieldz{
	resize: vertical;
	float:left;
	width: 290px;
	height: 100px;
	padding: 5px;
	border: 1px solid #CCC;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
table .input_readonly{
	height: 25px !important;
	width: 92% !important;
}
.input_size3{
	width:98%;	
	border:none;
	height:20px;
	text-align:right;
	border:none; 
	text-align:left
}
table.voucherDrCrTable td{
	padding: 2px !important;
}
.input_sizex{
	font-size: 14px;
	width:100%;	
	height:31px;
	text-align:left;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	border: 1px solid #CCC;
	border-radius: 5px;
}
.input_sizex:hover,
.input_sizex:focus{
	box-shadow: 	 	0px 5px 5px -2px #CCCCCC;
	-moz-box-shadow: 	0px 5px 5px -2px #CCCCCC;
	-webkit-box-shadow: 0px 5px 5px -2px #CCCCCC;
	border: 1px solid #CCC;
}
#form .field .input_size:hover, #form .field_medicine .input_size:hover{
	border-color: #9ecaed;
	box-shadow: 0 0 2px #9ecaed;
}
input.inputQuickSize{
	font-size: 12px;
	width:99%;	
	height:20px;
	border:none;
	border:none; 
	text-align:center;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	border: 1px solid #CCC;
}
input.inputQuickSize:hover,
input.inputQuickSize:focus{
	box-shadow: 	 	0px 5px 5px -2px #CCCCCC;
	-moz-box-shadow: 	0px 5px 5px -2px #CCCCCC;
	-webkit-box-shadow: 0px 5px 5px -2px #CCCCCC;
	border: 1px solid #CCC;
}
#form .field .input_size:focus, #form .field_medicine .input_size:focus  { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}
#form .field_1 .input_size_1, #bank_details .field_1 .input_size_1{
	float:left;
	width:150px;
	border: 1px solid #CCC;
	height:25px;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
}

#form .field_1 .input_size_1:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


#form .picture_panel{
	width:140px; 
	float:right; 
	border:1px solid #CCC; 
	padding:2px; 
	position:absolute; 
	right:70px; 
	margin-top:-15px;	
}

.login_img{
	float:left;
	width:200px;
	height:285px;
}
#login_form{
	width:350px;
	height:180px;
	float:right;
	margin-top:60px;
	background-image:url(../img/Untitled-2.png);
	background-repeat:no-repeat;
	padding-top:70px;
	padding-left:20px;
	
	
	
}

#login_form .caption{
	width:80px;
	float:left;
}

#login_form .field{
	width:265px;
	float:left;
}

.input_size_1{
	width:180px;
}

.choise{
	clear:both;
	width:230px;
	height:30px;
	margin:20px auto;
	background-color:#3f4d58;
	border:solid #d1e5ec 1px;
	padding:10px 20px 5px 30px;
	color:#FFFFFF;
	font-size:18px;
	text-align:center;
	
}



.redColor{
	color:#FF0000;
	font-weight:bold;
}
.messagebox{
	color:#333;
	padding:30px;
	font-size:18px;
	margin-bottom:30px;
}
.messagebox a{
	text-decoration:none;
}

#lightBox{
	padding-bottom:10px;
	text-align:center;
}
#lightBox .title{
	
	font-size:24px;
	color:#FFF;
	
	height:34px;
	background:url(../images/bg-table-heading.png) repeat-x;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
	
	-moz-border-radius-topleft:10px; /* top left corner */
    -moz-border-radius-topright:10px; /* top right corner */
    -moz-border-radius-bottomleft:8px; /* bottom left corner */
    -moz-border-radius-bottomright:8px; /* bottom right corner */
	
	-webkit-border-top-left-radius:10px; /* top left corner */
    -webkit-border-top-right-radius:10px; /* top right corner */
    -webkit-border-bottom-left-radius:8px; /* bottom left corner */
    -webkit-border-bottom-right-radius:8px; /* bottom right corner */
	
}
#lightBox a{
	text-decoration:none;
}
#lightBox .message{
	clear:both;
	margin-bottom:5px;
	font-size:20px;
	color:#35778c;
	
}
.title{
	clear:both;
	margin:20px 50px 20px 50px;	
	border-bottom:solid 1px #9ca09e;
	font-size:22px;
	font-weight:bold;
	color:#474b49;
	padding-bottom:10px;
}
#po_detail{
	float:left;
	border:1px solid #A0A0A4;
	height:180px;
	width:670px;
	margin:0 50px;
	padding-top:20px
}
#po_detail .caption{
	float:left;
	width:130px;
	height:15px;
	margin-right:10px;
	margin-top:7px;
	font-weight:bold;
	text-align:right;
	font-size:14px;
	color:#333333;
}
#po_detail .field{
	float:left;
	width:300px;
	font-weight:bold;
	font-size:14px;
}
#po_detail .field .input_size{
	width: inherit;
	border: 1px solid #CCC;
}



.textfield_size{
	width:300px;
	height:60px;
	
	
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
}
.textfield_size:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
	
}
.textarea_field{
	width:360px;
	float:left;
	margin-right:5px;
	margin-top:10px;
	height:60px;
	margin-bottom:15px;
}
#bank_details{
	width:100%;
	background:#F3F3F3;
	border:1px solid #F3F3F3; 
	height:auto;	
}
#form .fieldDisplay{
 float:left;
 width:400px;
 border:1px solid #DDDDDD;
 padding:5px;
 padding-top:8px;
 padding-bottom:0;
 height:20px;
/* -webkit-box-shadow:#F4F4F4 0 0 0 2px;
*/
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
 -moz-border-radius-topleft:5px; /* top left corner */
 -moz-border-radius-topright:5px; /* top right corner */
 -moz-border-radius-bottomleft:5px; /* bottom left corner */
 -moz-border-radius-bottomright:5px; /* bottom right corner */
 -webkit-border-top-left-radius:5px; /* top left corner */
 -webkit-border-top-right-radius:5px; /* top right corner */
 -webkit-border-bottom-left-radius:5px; /* bottom left corner */
 -webkit-border-bottom-right-radius:5px; /* bottom right corner */
}
td.borderDotted{
	border: none;
	border-bottom: 1px dashed #333333;
}
th.bolded{
	font-weight: bold;
}
.content-box, .content-box-header, ul.content-box-tabs li a.current, .shortcut-button, .notification {
    border-radius: 0px;
}
.success {
    background: url("../images/tick_circle.png") repeat scroll 0 0 #d5ffce;
    border-color: #9adf8f;
    color: #556652;
}
.error_1 {
    background: url("../images/error.png") repeat scroll 0 0 rgba(255,0,0,0.8);
	background-size: 20px;
    border-color: #9adf8f;
    color: #FFF;
}
.notification {
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    border: 1px solid;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 98.8%;
}
.notification .close {
    color: #990000;
    font-size: 9px;
}
a {
    color: #57a000;
}
.notification div {
    display: block;
    font-style: normal;
    line-height: 1.5em;
    padding: 10px 10px 10px 36px;
}
.voucherHeaders {
    min-height: 50px;
    width: 100%;
}
/* balance sheet & Profit N Loss */
#summary_form{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin:10px;	
	border:1px solid #BBBBBB;
	border-radius:10px;
	moz-border-radius:10px;
	webkit-border-radius:10px;
	padding-bottom:15px
}
.report_heading{
	font-size:20px;
	padding:0;
	text-align:center;
	font-weight:bold;
}
#summary_form .main_title_1{
	clear:both;
	margin:10px 50px 0px 50px;	
	font-size:18px;
	color:#474b49;
	line-height:0px;
	padding:10px 0;
}
.field_column{
	 float:right;
	 text-align: right; 
	 margin-right:180px; 
	 width:100px; 
	 padding:5px 0;
}
.current_year{
	 float:left;
	 margin-left:255px;
	 text-align:right; 
	 width:100px; 
	 padding:5px 0;
}
.previous_year{
	 float:left;
	 text-align: right; 
	 margin-left:30px; 
	 width:100px; 
	 padding:5px 0;
}
#form .bs_caption{
	float:left;
	width:200px;
	height:15px;
	margin-left:20px;
	margin-right:11px;
	margin-top:10px;
	text-align:right;
	font-size:14px;
	color:#333333;
	line-height:26px ;
}
.validText,.invalidText{
	background-repeat:no-repeat;
	background-position:left;
	background-origin:padding-box;
	background-size: 27px;
	-moz-transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	
}
.invalidText{
	background-position:right !important;
	background-image:url(../images/invalidtext.png);
	background-position:right center;
}
.validText{
	background-position:right !important;
	background-image:url(../images/validtext.png);
	background-position:right center;
}
#form .display_field{
	float:left;
	width:150px;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
/*	margin-bottom:5px;
*/}
#form .display_field .display_input_size{
	float:left;
	width: 100%;
	height: 25px;
	font-size: 16px;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #DDD;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	
	-moz-border-radius-topleft:5px; 
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
	
	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
	color:#AAA;
}
#form .field_checkbox{
	float:left;
	margin-top:10px;
	font-weight:normal;
	width:332px; 
	margin-right:2px; 
	font-size:13px; 
	padding:4px 7px; 
	border:1px solid #999;
	border-radius:3px;
/*	margin-bottom:5px;
*/}
#form .field_medicine{
	float:left;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
	width:200px;
	margin-right:10px
/*	margin-bottom:5px;
*/}
#form .footer{
	float:left;
	width:100%;
}
#form .footer .contents{
	float:left;
	width:33%;
	margin-left:2px
}
#form .footer .contents h4{
	margin-top:0px
}

.testyFyCheckBox{
    display:none;
}
.testyFyCheckBox + label span.testyFy {
	font-family: Verdana, Arial, sans-serif;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color:#9E9E9E !important;
	border: 1px solid #CCC !important;
	padding: 6px 11px 6px 11px !important;
	height: 0px;
	color: #444 !important;
	font-size: 14px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #EEE;
	-moz-box-shadow: 0px 1px 2px 0px #EEE;
	-webkit-box-shadow: 0px 1px 2px 0px #EEE;
}
.testyFyCheckBox:checked + label span.testyFy {
    font-family: Verdana, Arial, sans-serif;
	background-image: url('../images/validtext.png'), url('../images/bg-button-green.gif') !important;
	background-position: 0px 2px, 0px 0px;
	background-repeat: no-repeat, repeat-x;
	background-size: 25px, auto;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	padding: 6px 11px 6px 30px !important;
	height: 0px;
	color: #fff !important;
	font-size: 14px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #06C;
	-moz-box-shadow: 0px 1px 2px 0px #06C;
	-webkit-box-shadow: 0px 1px 2px 0px #06C;
}
.testyFyCheckBoxSmall{
    display:none;
}
.testyFyCheckBoxSmall + label span.testyFySmall{
	font-family: Verdana, Arial, sans-serif;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color:#9E9E9E !important;
	border: 1px solid #CCC !important;
	padding: 5px 3px !important;
	margin: 5px 1px;
	height: 0px;
	color: #444 !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #EEE;
	-moz-box-shadow: 0px 1px 2px 0px #EEE;
	-webkit-box-shadow: 0px 1px 2px 0px #EEE;
}
.testyFyCheckBoxSmall:checked + label span.testyFySmall{
    font-family: Verdana, Arial, sans-serif;
	background-image: url('../images/bg-button-green.gif') !important;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	padding: 5px 3px!important;
	margin: 5px 1px;
	height: 0px;
	color: #fff !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #06C;
	-moz-box-shadow: 0px 1px 2px 0px #06C;
	-webkit-box-shadow: 0px 1px 2px 0px #06C;
}
.miniText{
	position: absolute;
	left: 30px;
	top: 3px;
	width: 70px;
	height: 25px;
	font-size: 16px;
	margin: 0px 5px 0px 5px;
	padding-left: 5px;
	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	
	-moz-border-radius-topleft:3px; 
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;
	
	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
	
	box-shadow: 0 0 5px #EEE;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
.repoCaption{
	float:left;
	width:300px;
	height: 35px;
	font-size:16px;
	color:#333333;
	line-height:26px ;
	background-color: #F8F8F8;
	border: 1px solid #EEE;
	margin: 5px;
	margin-left: 10px;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color:#9E9E9E !important;
	border: 1px solid #CCC !important;
	padding: 5px 10px !important;
	color: #444 !important;
	font-weight: bold;
	transition: all 200ms;
	box-shadow: 0px 1px 2px 0px #EEE;
	-moz-box-shadow: 0px 1px 2px 0px #EEE;
	-webkit-box-shadow: 0px 1px 2px 0px #EEE;
}
.repoCaptonPrice{
	float: right;
	width:100px;
	height: 35px;
	font-size:16px;
	color:#333333;
	line-height:26px ;
	background-color: #F8F8F8;
	border: 1px solid #EEE;
	margin: 5px;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color:#9E9E9E !important;
	border: 1px solid #CCC !important;
	padding: 5px 10px !important;
	color: #444 !important;
	font-weight: bold;
	transition: all 200ms;
	box-shadow: 0px 1px 2px 0px #EEE;
	-moz-box-shadow: 0px 1px 2px 0px #EEE;
	-webkit-box-shadow: 0px 1px 2px 0px #EEE;
}
.repoTop{
	height: 300px;
	width: 100%;
	background-image:url(../images/print/dr-top.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.repoBottom{
	height: 300px;
	width: 100%;
	background-image:url(../images/print/dr-bottom.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

@font-face{
		font-family: 'calibri';
		src:url(Calibri.ttf);
	}
	
	@font-face{
		font-family: 'OpenSans-Light';
		src:url(../fonts/OpenSans-Light.ttf);
	}
	@page{
		size: portrait;
		margin: 0cm;
	}
	.clear{
		clear: both;
	}
	.pull-right{
		float:right;
	}
	.pull-left{
		float:left;
	}
	.printTable{
		font-family: 'calibri';
	}
	p{
		font-family: OpenSans-Light;
	}
	#form .caption, #bank_details .caption {
		font-family: OpenSans-Light;
		float: left;
		width: 150px;
		height: 15px;
		margin-left: 20px;
		margin-right: 11px;
		margin-top: 10px;
		text-align: right;
		font-size: 14px;
		color: #333333;
		line-height: 10px;
	}
	#form .fieldDisplay {
		font-family: 'OpenSans-Light';
		font-size: 12px;
		float: left;
		width: 400px;
		border: 1px solid #DDDDDD;
		padding: 5px;
		height: 20px;
		/* -webkit-box-shadow: #F4F4F4 0 0 0 2px; */
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	table{
		font-family: 'calibri';
		margin:0;
		width:100%;
		margin:0 auto;
		-webkit-print-color-adjust: exact;
	}
	table th{
		color:;
		height:27px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px dotted #e5e5e5;
	/*	border-right:1px dotted #CCC;
	*/	margin-bottom:20px;
		background-color:#f5f5f5;
		font-size:14px;
		padding:5px 10px 5px 10px; 
	
	}
	table th.bg-color{
		height:0px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px dotted #e5e5e5;
		margin-bottom:20px;
		background-color:#e6e6e6;
		font-size:14px !important;
		font-weight: normal !important;
		padding:5px 10px 5px 10px; 
	}
	table th.bg-color-1{
		height:0px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px dotted #e5e5e5;
		margin-bottom:20px;
		background-color:#F3F3F3;
		font-size:14px;
		padding:5px 10px 5px 10px; 
	}
	.font16x{
		font-size: 16px !important;
	}
	table th.bg-color-x{
		height:0px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px dotted #e5e5e5;
		margin-bottom:20px;
		background-color:#F3F3F3;
		font-size:16px;
		padding:5px 10px 5px 10px; 
	}
	
	
	table td{
		padding: 5px 5px; 
		font-size:12px;
		border-top:0;
		border-bottom:1px solid #e5e5e5;
		border-right:1px dotted #e5e5e5;
		color: #000;
	}
	
	table td:hover{
		height:0px;
	}
	table td a.hover{
		font-weight:bold; 
		text-decoration:none; 
		color:#0080FF
	}
	table td a.hover:hover{
		text-decoration:underline;
	}
	
	/*table th{
		background:#B9B9B9;
		background-color:#f5f5f5;
		font-size:13px;
		padding:5px 10px 5px 10px; 
	}*/
	table tr{
		background-color:#fff;
		width:100%;
	}
	table tr.entry_row:hover{
		background:#FFF
	
	}
	table td img{
		border:0;
		margin:0px 5px;
	}
	
	table tr th.th{
		padding-top:0;
		width:16%;
	}
	.lol{
		background:#f5f5f5;
	}
	.tbl1{
		width:70%;
	}