@font-face{
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf');
}
@media print{
	.noPrint{
		display: none;
	}
}
body{
	font-family: 'OpenSans-Light';
}
table{
	margin:0;
	width:100%;
	margin:0 auto;
	border-collapse: collapse !important;
    page-break-inside:avoid !important;
	page-break-after:auto !important;
}
table th{
	color: #000;
	border:1px solid #000;
	margin-bottom:20px;
	background-color:#f5f5f5;
	font-size:12px;
	padding: 2px 5px !important;
}
table td{
	padding: 2px 5px !important;
    font-size:12px;
	border-top:0;
	border:1px solid #000;
	color: #000;
}
table tr{
	background-color:#fff;
	width:100%;
}
table tr.entry_row:hover{
	background:#FFF

}
table td img{
	border:0;
	margin:0px 5px;
}
table tr th.th{
	padding-top:0;
	width:16%;
}
.cashBookTotals{
	text-align: right;
}
.repoGen{
	font-size: 12px !important;
}
.text-center{
	text-align: center !important;
}
.header h1.h1{
	font-family: "Roboto";
	font-weight: bold !important;
	width: 400px;
	font-size: 18px;
	text-align: left;
	float: left;
	margin: 5px 0px;
	text-shadow: 0px 0px 2px #666;
}
.biz_logo{
	float: left;
	height: 100px !important;
	width: 100px !important;
	margin-right: 20px !important;
}
.biz_logo img{
	height: 100%;
}
.logo_aside{
	float: left;
}
 .pageHeader p.slogan{
	font-family: "Roboto";
	font-size: 18px;
	font-style: italic;
	width: 100%;
	color: #000;
	padding: 2px 2px;
	margin: 4px 0px 0px 0px;
	text-align: left;
}
.pageHeader .underSlogan{
	font-family: "Roboto";
	width: 100%;
	color: #000;
	padding: 5px 0px;
	margin: 0px;
	text-align: left;
}
 .pageHeader .partyTitle{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 14px;
	padding: 5px 5px !important;
	color: #000 !important;
}
 .pageHeader .partyTitle span.goal{
	color: #000 !important;
}
 .pageHeader .partyTitle span.red{
	font-size:16px;
	padding: 5px ;
	text-transform: uppercase;
	float: right;
	color: #F00;
	border-bottom: none;
}

 .pageHeader h1.h1{
	font-family: "Roboto";
	width: 100%;
	font-size: 18px;
	text-align: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
