.content-box{
	border: 1px solid #CCC;
	box-shadow: 0px 0px 3px -5px #CCC;
	background: #fff;
	position:absolute;
	left:10px;
	top: 60px;
	right:10px;
}
.content-box-top{
	border: 1px solid #ccc;
	border-radius: 0px;
	padding-bottom: 20px;
	background: #fff;
	position:absolute;
	left:10px;
	top: 60px;
	right:10px;
}
.content-box-body{
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	position:absolute;
	left:10px;
	top: 335px;
	right:10px;
}
.content-box-content{
	padding: 20px;
	font-size: 14px;
	border-top: 1px solid #ccc;
}
.cash-chart{

}
