@font-face {
	font-family: "Roboto";
	src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Roboto";
	src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Roboto";
	src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
}
/********************************      Basic Structure      ********************************/
@media print{
	@page {
		/* margin: 0.3cm; */
	}
	.invoiceContainer{
		-webkit-print-color-adjust: exact;
	}
	.invoiceContainer *{
		-webkit-print-color-adjust: exact;
	}
	.no-print{
		display: none;
	}
	.mt-10{
		margin-top: 10px !important;
	}
	.text-center{
		text-align: center !important;
	}
	.text-right{
		text-align: right !important;
	}
}
a{
	text-decoration: none !important;
}
html{
   -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;

}

body{
	background-color: #FFF;
	font-family: "Monospace", Times, serif;
	font-size: 14px;
}

.clear{
	clear:both;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.header{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	padding: 5px 0px;
	background-color: #FFF;
	box-shadow: 0px 20px 10px 0px rgba(255,255,255,0.5);
	z-index: 1000;
}
.headerWrapper{
	width: 800px;
	height: 100%;
	margin: 0 auto;
	background-color: rgba(50,50,50,0.5);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    position:relative;
    border:1px solid #999;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow:hidden;
	border-top-left-radius: 10px 50px;
    border-bottom-left-radius: 10px 50px;
    border-top-right-radius: 10px 50px;
    border-bottom-right-radius: 10px 50px;
    -moz-border-radius-topleft: 10px 50px;
    -moz-border-radius-topright: 10px 50px;
    -moz-border-radius-bottomright: 10px 50px;
    -moz-border-radius-bottomleft: 10px 50px;
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.3s ease-in-out;
}
.headerWrapper:hover{
	-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}
.headerWrapper:active{
	position: relative;
	top: 2px;
	background-color: #FFFFFF;
	color: #000000;
}
.header h1.h1{
	font-family: "Roboto";
	font-weight: bold !important;
	width: 400px;
	font-size: 26px;
	text-align: left;
	float: left;
	margin: 5px 0px;
	text-shadow: 0px 0px 2px #666;
}
.header .button{
	float: right;
	height: 40px;
	margin: 5px 50px;
	cursor: pointer;
}

.invoiceContainer{
	/*width: 1140px;*/
	margin: 0px auto;
	font-size: 12px;
	overflow: hidden;
}
.invoiceContainer .invoiceHead{
	width: 100%;
}
.invoiceContainer .invoiceHead h1.h1{
	font-family: "Roboto";
	width: 100%;
	font-size: 26px;
	text-align: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.biz_logo{
	float: left;
	height: 100px !important;
	width: 100px !important;
	margin-right: 20px !important;
}
.biz_logo img{
	height: 100%;
}
.logo_aside{
	float: left;
}
.invoiceContainer .invoiceHead p.slogan{
	font-size: 14px;
	font-style: italic;
	width: 100%;
	color: #000;
	padding: 2px 2px;
	margin: 4px 0px 0px 0px;
	text-align: left;
}
.invoiceContainer .invoiceHead .underSlogan{
	width: 100%;
	color: #000;
	padding: 5px 0px;
	margin: 0px;
	text-align: left;
}
.invoiceContainer .invoiceHead .partyTitle{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 14px;
	padding: 5px 5px !important;
	color: #000 !important;
}
.invoiceContainer .invoiceHead .partyTitle span.goal{
	color: #000 !important;
}
.invoiceContainer .invoiceHead .partyTitle span.red{
	font-size:16px;
	padding: 5px ;
	text-transform: uppercase;
	float: right;
	color: #F00;
	border-bottom: none;
}
.invoiceContainer .invoiceHead .topLeftSide .invoiceLabel{
	padding: 2px;
	width: 70px;
	text-align: right;
	color: #000;
	float: left;
}
.invoiceContainer .invoiceHead .topRightSide .invoiceLabel{
	padding: 2px;
	width: 90px;
	text-align: left;
	color: #000;
	float: left;
}
.invoiceContainer .invoiceHead .topLeftSide .simpleText,
.invoiceContainer .invoiceHead .topRightSide .simpleText{
	padding: 2px;
	text-align: left;
	color: #000;
}
.invoiceContainer .invoiceHead .topLeftSide{
	width: 310px;
	height: 120px;
	background-color: #f5f5f5;
	text-align: left;
}
.invoiceContainer .invoiceHead .topRightSide{
	width: 250px;
	height: 120px;
	background-color: #f5f5f5;
	text-align: right;
}
.invoiceContainer .invoiceHead .topLeftSide{
	float:left;
}
.invoiceContainer .invoiceHead .topRightSide{
	float:right;
}
.invoiceBody{
	margin: 15px auto;
}
.invoiceBody table{
	width: 100%;
	border-collapse: collapse;
}
.invoiceBody table thead{
	color: #000;
}
.invoiceBody table thead th{
	color: #000;
	padding: 5px !important;
	font-size: 12px !important;
}
.invoiceBody table thead th,
.invoiceBody table td {
	text-align: center;
	border: 1px solid rgba(50,50,50,0.5);
	color: #000 !important;
}
.invoiceBody table td{
	font-size: 12px !important;
	padding:   6px 5px !important;
}
h2.h2{
	float:right;
	width: 350px;
	text-align: right;
	font-weight: normal;
	font-size: 14px;
	padding: 2px 0px;
	margin: 0px;
	color: #000 !important;
}
.textAlignLeft{
	text-align: left !important;
}
.underLineThis{
	border-bottom: 1px solid #777;
}
.underLineThis2{
	border-bottom: 3px double #777;
}
span.spanWidthMargin{
	float: right;
	margin-left: 30px;
}
.cutHere{
	clear:both;
	width: 100%;
	border-bottom: 1px dotted #666;
	height: 1px;
}
.invoiceText{
	width: 100%;
	color: #666;
	text-align: center;
	font-size: 30px;
	margin-bottom: -30px;
}
.m-10{
	margin: 10px;
}
.mt-10{
	margin-top: 10px !important;
}
.text-center{
	text-align: center !important;
}
.text-right{
	text-align: right !important;
}
