@charset "utf-8";
/* CSS Document */

#search_form{
	float:left;
	margin:10px;
	margin-top:0px;
}
#search_form .caption{
	font-size: 16px;
	width:200px;
	margin-top:5px;
	padding: 5px;
	font-weight:normal;
}
#search_form .field{
	width:210px;
}
.row_feild{
	float:left;
	width:470px;
	height: 30px;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
}
.row_feild a.pointer{
	float: right;
	padding: 7px;
	margin-top: 10px;
}
.image_button{
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	border-radius: 4px;
	padding: 5px 10px;
	margin: 4px;
	color: #fff !important;
	font-size: 12px;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	position: relative;
}
.image_button:hover{
	box-shadow: 0px 0px 2px 0px #06C;
	-moz-box-shadow: 0px 0px 2px 0px #06C;
	-webkit-box-shadow: 0px 0px 2px 0px #06C;
}

.image_button:active{
	box-shadow:0px 0px 5px 0px #666 inset;
	-moz-box-shadow:0px 0px 5px 0px #666 inset;
	-webkit-box-shadow:0px 0px 5px 0px #666 inset;
}
.image_button input[name='image']{
	opacity: 0.0;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
#search_form .field .input_size{
	width:210px;
}

.line_check{
	width:95%;
	height:35px;
	border:1px solid #CCC;
	margin:5px auto 0 auto;
	border-radius:5px;
	background:#F8F8F8;
	cursor:pointer;
}
.line_check h3{
	font-size:15px;
	font-weight:normal;
	line-height:20px;
	padding:5px 5px 0 5px;
}
.line_right .line_check{
	width:90%;
	float:right;
	margin-right:30px;
	margin-top:5px;
}

.chek{
	width:20px;
	height:20px;
	margin:5px;
	float:left;
}


#form{
	font-size: 14px;
	color: #000;
	margin:10px 15px;
}
.field-button-top{
	float:right;
	width:441px;
	margin-top:-3px;
	margin-right:0px;
	padding:10px;
}
.patientNameInvoice{
	float:left;
	margin: 10px 10px 10px 60px;
	border: 1px solid #999;
	padding: 10px;
}
.dateOfInvoice{
	float:right;
	margin: 10px 60px 10px 10px;
	border: 1px solid #999;
	padding: 10px;
}
#form .title_top{
	clear:both;
	margin: 0px 50px 20px 50px;
	padding-bottom: 10px;
	border-bottom:solid 1px #9ca09e;
	font-size:18px;
	font-weight:bold;
	color:#474b49;
	line-height:10px
}

#form .caption, #bank_details .caption{
	float:left;
	width:150px;
	margin-left:20px;
	margin-right:11px;
	margin-top:10px;
	text-align:right;
	font-size:14px;
	color:#333333;
	line-height:36px ;
}
#form .caption_title{
	float:left;
	width:250px;
	height:15px;
	margin-left:105px;
	margin-right:110px;
	margin-top:10px;
	text-align:left;
	font-size:24px;
	color:#333333;
}

#form .caption_remarks{
	float:left;
	width:50px;
	height:15px;
	margin-left:90px;
	margin-right:11px;
	margin-top:7px;
	font-size:14px;
	padding:5px 10px;
	font-weight:bold;
	background-color:#999;
	color:#FFF
}
#form .caption_1{
	float:left;
	width:160px;
	padding:5px 0;
	font-size:14px;
	color:#333333;
	text-align:center
}
#bank_details .caption_1{
	float:left;
	width:100px;
	height:15px;
	margin-left:20px;
	margin-right:11px;
	margin-top:0px;
	text-align:right;
	font-size:14px;
	color:#333333;
}

#form .field{
	float:left;
	width:250px;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
/*	margin-bottom:5px;
*/}
#form .caption_lab{
	position: relative;
	width:98%;
	height: 35px;
	font-size:14px;
	color:#333333;
	line-height:26px ;
	background-color: #F8F8F8;
	border: 1px solid #EEE;
	margin-bottom:5px;
	margin-left: 10px;
}

#form .field_lab{
	float:left;
	width:20px;
	margin-top:2px;
	margin-left:15px;
	font-weight:normal;
	font-size:14px;
	margin-bottom:5px;
}

#form .field_personal{
	float:left;
	width:300px;
	margin-top:10px;
	font-weight:bold;
	font-size:14px;
/*	margin-bottom:5px;
*/}

#form .field .course_left{
	float:left;
	width:160px;
	margin-left:15px
}
#form .course_left .sub_field{
	width:160px;
	font-weight:normal !important
}
#form .course_left input[type=checkbox]{
	margin:16px 0;
	margin-left:5px
}

#form .field2{
	width: 340px;
}

#form .field_1, #bank_details .field_1{
	float:left;
	width:160px;
	margin-top:5px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
}
#form .field_title{
	width:250px;
	margin-top:5px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
	float:right;
	margin-right:100px;
	margin-top:10px;
}
.field_line{
	border:none;
	background:none;
	border-bottom:solid 1px #333333;
}
#form .field .image_validate{
	float:left;
	margin-left:20px;

}
.input_sized{
	font-weight: normal !important;
}
#form .field .input_size, #form .field_personal .input_size, #form .field_medicine .input_size{
	float:left;
	width: 100%;
	height: 25px;
	font-size: 16px;
	font-weight: normal !important;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 5px #ccc;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
table .input_size{
	float:left;
	width: 100%;
	height: 25px;
	font-size: 16px;
	border: none;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
#form .field .input_size_dotted{
	float:left;
	width: 300px;
	font-size: 16px;
	padding-left: 5px;
	height:25px;
	border: none;
	border-bottom: 1px dotted #999;
}

#form .field textarea.input_size{
	float:left;
	width: 299px;
	font-size: 16px;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}

#form .field .input_size_min{
	width: 90px;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 2px #EEE;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
#form .dropdown_size{
	float:left;
	width: 303px;
	padding: 2px;
	border: 1px solid #CCC;
	height:25px;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
#form .dropdown_size:hover{
	border:1px solid rgb(158, 202, 237);
}
.input_readonly{
	float:left;
	width: 295px;
	padding-left: 5px;
	color: #666;
	background-color: #f5f5f5;
	height:25px;
	cursor:default !important;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border: 1px dashed #CCC !important;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 2px #eee inset;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
.textarea_fieldz{
	resize: vertical;
	float:left;
	width: 290px;
	height: 100px;
	padding: 5px;
	border: 1px solid #CCC;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
table .input_readonly{
	height: 25px !important;
	width: 92% !important;
}
.input_size3{
	width:98%;
	border:none;
	height:20px;
	text-align:right;
	border:none;
	text-align:left
}
table.voucherDrCrTable td{
	padding: 2px !important;
}
.input_sizex{
	font-size: 14px;
	width:100%;
	height:31px;
	text-align:left;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	border: 1px solid #CCC;
	border-radius: 5px;
}
.input_sizex:hover,
.input_sizex:focus{
	box-shadow: 	 	0px 5px 5px -2px #CCCCCC;
	-moz-box-shadow: 	0px 5px 5px -2px #CCCCCC;
	-webkit-box-shadow: 0px 5px 5px -2px #CCCCCC;
	border: 1px solid #CCC;
}
#form .field .input_size:hover, #form .field_medicine .input_size:hover{
	border-color: #9ecaed;
	box-shadow: 0 0 2px #9ecaed;
}
input.inputQuickSize{
	font-size: 12px;
	width:99%;
	height:20px;
	border:none;
	border:none;
	text-align:center;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	border: 1px solid #CCC;
}
input.inputQuickSize:hover,
input.inputQuickSize:focus{
	box-shadow: 	 	0px 5px 5px -2px #CCCCCC;
	-moz-box-shadow: 	0px 5px 5px -2px #CCCCCC;
	-webkit-box-shadow: 0px 5px 5px -2px #CCCCCC;
	border: 1px solid #CCC;
}
#form .field .input_size:focus, #form .field_medicine .input_size:focus  {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}
#form .field_1 .input_size_1, #bank_details .field_1 .input_size_1{
	float:left;
	width:150px;
	border: 1px solid #CCC;
	height:25px;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

}

#form .field_1 .input_size_1:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


#form .picture_panel{
	width:140px;
	float:right;
	border:1px solid #CCC;
	padding:2px;
	position:absolute;
	right:70px;
	margin-top:-15px;
}

.login_img{
	float:left;
	width:200px;
	height:285px;
}
#login_form{
	width:350px;
	height:180px;
	float:right;
	margin-top:60px;
	background-image:url(../img/Untitled-2.png);
	background-repeat:no-repeat;
	padding-top:70px;
	padding-left:20px;



}

#login_form .caption{
	width:80px;
	float:left;
}

#login_form .field{
	width:265px;
	float:left;
}

.input_size_1{
	width:180px;
}

.choise{
	clear:both;
	width:230px;
	height:30px;
	margin:20px auto;
	background-color:#3f4d58;
	border:solid #d1e5ec 1px;
	padding:10px 20px 5px 30px;
	color:#FFFFFF;
	font-size:18px;
	text-align:center;

}



.redColor{
	color:#FF0000;
	font-weight:bold;
}
.messagebox{
	color:#333;
	padding:30px;
	font-size:18px;
	margin-bottom:30px;
}
.messagebox a{
	text-decoration:none;
}

#lightBox{
	padding-bottom:10px;
	text-align:center;
}
#lightBox .title{

	font-size:24px;
	color:#FFF;

	height:34px;
	background:url(../images/bg-table-heading.png) repeat-x;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

	-moz-border-radius-topleft:10px; /* top left corner */
    -moz-border-radius-topright:10px; /* top right corner */
    -moz-border-radius-bottomleft:8px; /* bottom left corner */
    -moz-border-radius-bottomright:8px; /* bottom right corner */

	-webkit-border-top-left-radius:10px; /* top left corner */
    -webkit-border-top-right-radius:10px; /* top right corner */
    -webkit-border-bottom-left-radius:8px; /* bottom left corner */
    -webkit-border-bottom-right-radius:8px; /* bottom right corner */

}
#lightBox a{
	text-decoration:none;
}
#lightBox .message{
	clear:both;
	margin-bottom:5px;
	font-size:20px;
	color:#35778c;

}
.title{
	font-family: "Roboto";
	clear:both;
	margin: 20px 50px 20px 50px;
	border-bottom:solid 1px #9ca09e;
	font-size:22px;
	padding-bottom: 5px;
	font-weight: normal;
}
#po_detail{
	float:left;
	border:1px solid #A0A0A4;
	height:180px;
	width:670px;
	margin:0 50px;
	padding-top:20px
}
#po_detail .caption{
	float:left;
	width:130px;
	height:15px;
	margin-right:10px;
	margin-top:7px;
	font-weight:bold;
	text-align:right;
	font-size:14px;
	color:#333333;
}
#po_detail .field{
	float:left;
	width:300px;
	font-weight:bold;
	font-size:14px;
}
#po_detail .field .input_size{
	width: inherit;
	border: 1px solid #CCC;
}



.textfield_size{
	width:300px;
	height:60px;


	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border:1px solid #DDDDDD;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

}
.textfield_size:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

}
.textarea_field{
	width:360px;
	float:left;
	margin-right:5px;
	margin-top:10px;
	height:60px;
	margin-bottom:15px;
}
#bank_details{
	width:100%;
	background:#F3F3F3;
	border:1px solid #F3F3F3;
	height:auto;
}
#form .fieldDisplay{
 float:left;
 width:400px;
 border:1px solid #DDDDDD;
 padding:5px;
 padding-top:8px;
 padding-bottom:0;
 height:20px;
/* -webkit-box-shadow:#F4F4F4 0 0 0 2px;
*/
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
 -moz-border-radius-topleft:5px; /* top left corner */
 -moz-border-radius-topright:5px; /* top right corner */
 -moz-border-radius-bottomleft:5px; /* bottom left corner */
 -moz-border-radius-bottomright:5px; /* bottom right corner */
 -webkit-border-top-left-radius:5px; /* top left corner */
 -webkit-border-top-right-radius:5px; /* top right corner */
 -webkit-border-bottom-left-radius:5px; /* bottom left corner */
 -webkit-border-bottom-right-radius:5px; /* bottom right corner */
}
td.borderDotted{
	border: none;
	border-bottom: 1px dashed #333333;
}
th.bolded{
	font-weight: bold;
}
.content-box, .content-box-header, ul.content-box-tabs li a.current, .shortcut-button, .notification {
    border-radius: 0px;
}
.success {
    background: url("../images/tick_circle.png") repeat scroll 0 0 #d5ffce;
    border-color: #9adf8f;
    color: #556652;
}
.error_1 {
    background: url("../images/error.png") repeat scroll 0 0 rgba(255,0,0,0.8);
	background-size: 20px;
    border-color: #9adf8f;
    color: #FFF;
}
.notification {
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    border: 1px solid;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 98.8%;
}
.notification .close {
    color: #990000;
    font-size: 9px;
}
a {
    color: #57a000;
}
.notification div {
    display: block;
    font-style: normal;
    line-height: 1.5em;
    padding: 10px 10px 10px 36px;
}
.voucherHeaders {
    min-height: 50px;
    width: 100%;
}
/* balance sheet & Profit N Loss */
#summary_form{
	font-size: 14px;
	color: #000;
	margin:10px;
	border:1px solid #BBBBBB;
	border-radius: 3px;
	padding-bottom: 15px;
}
.report_heading{
	font-size:20px;
	padding:0;
	text-align:center;
	font-weight:bold;
}
#summary_form .main_title_1{
	clear:both;
	margin:10px 50px 0px 50px;
	font-size:18px;
	color:#474b49;
	line-height:0px;
	padding:10px 0;
}
.field_column{
	 float:right;
	 text-align: right;
	 margin-right:180px;
	 width:100px;
	 padding:5px 0;
}
.current_year{
	 float:left;
	 margin-left:255px;
	 text-align:right;
	 width:100px;
	 padding:5px 0;
}
.previous_year{
	 float:left;
	 text-align: right;
	 margin-left:30px;
	 width:100px;
	 padding:5px 0;
}
#form .bs_caption{
	float:left;
	width:200px;
	text-align:right;
	font-size:14px;
	color:#333333;
	line-height:26px ;
}
.validText,.invalidText{
	background-repeat:no-repeat;
	background-position:left;
	background-origin:padding-box;
	background-size: 27px;
	-moz-transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;

}
.invalidText{
	background-position:right !important;
	background-image:url(../images/invalidtext.png);
	background-position:right center;
}
.validText{
	background-position:right !important;
	background-image:url(../images/validtext.png);
	background-position:right center;
}
#form .display_field{
	float:left;
	width:150px;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
/*	margin-bottom:5px;
*/}
#form .display_field .display_input_size{
	float:left;
	width: 100%;
	height: 25px;
	font-size: 16px;
	padding-left: 5px;
/*	padding-top: 3px;
	padding-bottom: 3px;
*/	border: 1px solid #DDD;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;

	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

	-moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;

	box-shadow: 0 0 2px #eee;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
	color:#AAA;
}
#form .field_checkbox{
	float:left;
	margin-top:10px;
	font-weight:normal;
	width:332px;
	margin-right:2px;
	font-size:13px;
	padding:4px 7px;
	border:1px solid #999;
	border-radius:3px;
/*	margin-bottom:5px;
*/}
#form .field_medicine{
	float:left;
	margin-top:10px;
	font-weight:normal;
	font-size:14px;
	width:200px;
	margin-right:10px
/*	margin-bottom:5px;
*/}
#form .footer{
	float:left;
	width:100%;
}
#form .footer .contents{
	float:left;
	width:33%;
	margin-left:2px
}
#form .footer .contents h4{
	margin-top:0px
}

.testyFyCheckBox{
    display:none;
}
.testyFyCheckBox + label span.testyFy {
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color:#9E9E9E !important;
	border: 1px solid #CCC !important;
	padding: 6px 11px 6px 11px !important;
	height: 0px;
	color: #444 !important;
	font-size: 14px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #EEE;
	-moz-box-shadow: 0px 1px 2px 0px #EEE;
	-webkit-box-shadow: 0px 1px 2px 0px #EEE;
}
.testyFyCheckBox:checked + label span.testyFy {
	background-image: url('../images/validtext.png'), url('../images/bg-button-green.gif') !important;
	background-position: 0px 2px, 0px 0px;
	background-repeat: no-repeat, repeat-x;
	background-size: 25px, auto;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	padding: 6px 11px 6px 30px !important;
	height: 0px;
	color: #fff !important;
	font-size: 14px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #06C;
	-moz-box-shadow: 0px 1px 2px 0px #06C;
	-webkit-box-shadow: 0px 1px 2px 0px #06C;
}
.testyFyCheckBoxSmall{
    display:none;
}
.testyFyCheckBoxSmall + label span.testyFySmall{
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color:#9E9E9E !important;
	border: 1px solid #CCC !important;
	padding: 7px 3px !important;
	margin: 5px 1px;
	height: 0px;
	color: #444 !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #EEE;
	-moz-box-shadow: 0px 1px 2px 0px #EEE;
	-webkit-box-shadow: 0px 1px 2px 0px #EEE;
}
.testyFyCheckBoxSmall:checked + label span.testyFySmall{
	background-image: url('../images/bg-button-green.gif') !important;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	padding: 5px 3px!important;
	margin: 5px 1px;
	height: 0px;
	color: #fff !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px #06C;
	-moz-box-shadow: 0px 1px 2px 0px #06C;
	-webkit-box-shadow: 0px 1px 2px 0px #06C;
}
.miniText{
	position: absolute;
	left: 35px;
	top: 3px;
	width: 50% !important;
	padding-left: 2px !important;
}
.repoCaption{
	float:left;
	width:300px;
	height: 35px;
	font-size:16px;
	margin: 5px 10px;
	padding: 0px 5px !important;
	color: #444 !important;
	font-weight: normal;
	transition: all 200ms;
}
.repoCaptonPrice{
	float: right;
	width:100px;
	height: 35px;
	font-size:16px;
	margin: 5px 10px;
	padding: 0px 5px !important;
	color: #444 !important;
	font-weight: normal;
	transition: all 200ms;
}
.repoTop{
	height: 200px;
	width: 100%;
	background-image:url(../images/print/dr-top.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	-webkit-print-color-adjust: exact;
}
.repoBottom{
	height: 300px;
	width: 100%;
	background-image:url(../images/print/dr-bottom.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	-webkit-print-color-adjust: exact;
}
.itemDepartment th,.itemCategory th{
	color: #444;
	font-size:16px;
	font-weight: bold;
}
.journalizeThat{
	float: right;
	margin: 0px 5px 5px 5px ;
	padding: 2px 8px;
	border: 1px solid #CCC;
	border-radius: 1px;
	display: inline-block;
	background:url('../images/bg-button-green.gif') top left repeat-x !important;
	background-color:#9E9E9E !important;
	border: 1px solid #2999ff !important;
	color: #fff !important;
	font-size: 12px !important;
	font-weight: normal;
	transition: all 200ms;
	cursor: pointer;
	box-shadow: 0px 1px 2px 1px #06C;
	-moz-box-shadow: 0px 1px 2px 1px #06C;
	-webkit-box-shadow: 0px 1px 2px 1px #06C;
}
.barcode_input{
	width: 300px;
	font-size: 25px;
	color: #666;
	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 0 2px #eee;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
.barcode_input:focus{
	border: 1px solid #0073EA;
}
.custom_input{
	width: 120px;
	font-size: 16px;
	margin: 5px;
	padding-left: 5px;
	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;
	border-radius: 3px;
	box-shadow: 0 0 5px #EEE;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
input[aria-invalid='true']{

}
.error{
	text-align: left;
	padding: 5px;
	color: red;
	font-weight: normal;
	width: 250px;
	float: right;
}
.caption_simple{
	padding: 5px 14px;
	display: inline-block;
	margin: 0px 10px;
	background-color:  rgba(255,255,255,0.9);
	border: 1px solid #CCC;
	border-radius: 3px;
}
.input_ghost{
	padding: 2px 0px;
	display: inline-block;
	margin: 0px 5px;
	background-color:  transparent;
	border: none;
}
