@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: '_urdupoint_eot';
    src: url('../fonts/urdupoint/urdupoint.com-webfont.eot');
    src: url('../fonts/urdupoint/urdupoint.com-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/urdupoint/urdupoint.com-webfont.woff') format('woff'),
         url('../fonts/urdupoint/urdupoint.com-webfont.ttf') format('truetype'),
         url('../fonts/urdupoint/urdupoint.com-webfont.svg#NafeesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height:28px;
}
@font-face {
    font-family: 'nafees_font';
    src: url('../fonts/nafees/nafees_web_naskhshipped.eot');
    src: url('../fonts/nafees/nafees_web_naskhshipped.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nafees/nafees_web_naskhshipped.woff') format('woff'),
         url('../fonts/nafees/nafees_web_naskhshipped.ttf') format('truetype'),
         url('../fonts/nafees/nafees_web_naskhshipped.svg#NafeesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height:28px;
}
.nafees_font14{
  font-family: 'nafees_font' !important;
  font-size: 14px  !important;
}
.nafees_font16{
  font-family: 'nafees_font'  !important;
  font-size: 16px !important;
}
.nafees_font18{
  font-family: 'nafees_font'  !important;
  font-size: 18px !important;
}
.nafees_font22{
  font-family: 'nafees_font'  !important;
  font-size: 22px !important;
}
.nafees_font48{
  font-family: 'nafees_font'  !important;
  font-size: 48px !important;
}
.urdu-font{
  font-family: '_urdupoint_eot';
	direction: rtl !important;
	text-align: right !important;
}
th.urdu-font{
	padding: 10px;
}
th.urdu-font{
	padding: 10px;
}
.font-size-14{
	font-size: 14px !important;
}
.font-size-16{
	font-size: 16px !important;
}
.font-size-18{
	font-size: 18px !important;
}
.font-size-20{
	font-size: 20px !important;
}
.font-size-22{
	font-size: 22px !important;
}
.font-size-24{
	font-size: 24px !important;
}
.font-size-26{
	font-size: 26px !important;
}
.font-size-28{
	font-size: 28px !important;
}
.font-size-30{
	font-size: 30px !important;
}
.font-size-32{
	font-size: 32px !important;
}
.font-size-34{
	font-size: 34px !important;
}
.font-size-36{
	font-size: 36px !important;
}
.font-size-38{
	font-size: 38px !important;
}

@font-face{
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../fonts/sDGTilo5QRsfWu6Yc11AXg.woff2') format('woff2'), url('../fonts/_xyN3apAT_yRRDeqB3sPRg.woff') format('woff');
}
body{
	font-family: 'Ubuntu';
	color:  #000 !important;
	font-size:  14px;
	direction: rtl;
}
@page{
	size: portrait;
	margin: 0.5cm;
}
*{
	-webkit-print-color-adjust: exact;
	direction: rtl;
}
.repoBottom,.repoTop{
	-webkit-print-color-adjust: exact;
}
.printBody{
	position: absolute !important;
	top: 150px !important;
	width: 100% !important;
}
.voucherBox{
	position: relative;
	page-break-inside:avoid !important;
	page-break-after:auto !important;
}
.noPrint{
	display: none;
}
.clear{
	clear: both;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.printTable{
	font-family: 'Ubuntu';
}
p{
	font-family: 'OpenSans-Light';
}
*{
	font-family: 'Ubuntu';
}
#form .caption{
	font-family: OpenSans-Light;
	float: left;
	width: 150px;
	height: 15px;
	margin-left: 20px;
	margin-right: 11px;
	margin-top: 10px;
	text-align: right;
	font-size: 14px;
	color: #333333;
	line-height: 10px;
}
#form .fieldDisplay {
	font-size: 12px;
	float: left;
	width: 400px;
	border: 1px solid #DDDDDD;
	padding: 5px;
	height: 20px;
	/* -webkit-box-shadow: #F4F4F4 0 0 0 2px; */
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
table{
	font-family: 'Ubuntu';
	width:100%;
	margin:0 auto;
  border-collapse: collapse;
	-webkit-print-color-adjust: exact;
}
table th{
	border:1px solid #222222 !important;
	padding: 2px 5px !important;
	color: #000 !important;
}
.font16x{
	font-size: 16px !important;
}
table td{
	padding: 2px 5px !important;
	border-top:0;
	border:1px solid #222222 !important;
	color: #000 !important;
	text-align: center !important;
}
table td a.hover{
	font-weight:bold;
	text-decoration:none;
	color:#0080FF
}
table td a.hover:hover{
	text-decoration:underline;
}
table tr{
	background-color:#fff;
	width:100%;
}
table tr.entry_row:hover{
	background:#FFF

}
table td img{
	border:0;
	margin:0px 5px;
}

table tr th.th{
	padding-top:0;
	text-align: center !important;
}
.lol{
	background:#f5f5f5;
}
.tbl1{
	width:70%;
}
.notAtPrint{
	display: none;
}

/*------------ Reports -------------*/
#deletePanel{
	text-align:center;
	padding:3px;
	color:#F03;
	font-size:14px;
	font-weight:bold;
}
#deletePanel a{
	text-decoration:none;
	color:#F03;
}
#deletePanel a:hover{
	color:#F03;
}
div.cashBookTotals{
	font-family: 'Ubuntu';
	text-align:right;
	font-weight: bold;
	font-size: 14px;
}
p.reportTopHeading{
	font-weight: bold !important;
	font-size: 20px !important;
	padding: 0px !important;
	margin: 0px !important;
}
p.reportTopPara{
	margin: 0px !important;
	padding: 5px !important;
}
table{
	margin:0;
	width:100%;
	margin:0 auto;
}
table th{
	color:;
	height:27px;
	border-bottom:1px solid #222222;
	border-right:1px solid #222222;
	margin-bottom:20px;
	font-size:14px;
	padding:5px 10px 5px 10px;

}
table th.bg-color{
	height:0px;
	border-bottom:1px solid #222222;
	border-right:1px solid #222222;
	margin-bottom:20px;
	font-size:14px !important;
	font-weight: normal !important;
	padding:5px 10px 5px 10px;
}
table th.bg-color-1{
	height:0px;
	border-bottom:1px solid #222222;
	border-right:1px solid #222222;
	margin-bottom:20px;
	font-size:14px;
	padding:5px 10px 5px 10px;
}
.font16x{
	font-size: 16px !important;
}
table th.bg-color-x{
	height:0px;
	border-bottom:1px solid #222222;
	border-right:1px solid #222222;
	margin-bottom:20px;
	font-size:16px;
	padding:5px 10px 5px 10px;
}


table td{
	padding: 5px 5px;
    font-size:12px;
	border-top:0;
	border-bottom:1px solid #222222;
	border-right:1px solid #222222;
	color: #000;

}

table td:hover{
	height:0px;
}
table td a.hover{
	font-weight:bold;
	text-decoration:none;
	color:#0080FF
}
table td a.hover:hover{
	text-decoration:underline;
}
table tr{
	background-color:#fff;
	width:100%;
}
table tr.entry_row:hover{
	background:#FFF

}
table td img{
	border:0;
	margin:0px 5px;
}
table tr th.th{
	padding-top:0;
	width:16%;
}
.lol{
	background:#f5f5f5;
}
.tbl1{
	width:70%;
}
.button2{
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:#F00;
	border: 1px solid #459300 !important;
	padding: 4px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 11px !important;
	cursor: pointer;
}
.button:hover2{
    text-decoration: underline;
}
.chart{
	margin:10px auto;
	border:1px solid #e3e3e3;
	border-radius:5px;
}
.chart img{
	opacity:0.5;
}
.chart th{
	width:100%;
	background:#f2f2f2;
	color:#999999;
	border:none;
}
.chart tr{
	border:none;
	background:#F2F2F2;
}
.stf_head_th{
	height: 10px;
	font-weight: bold;
}
.stf_td{
	height: 10px;
}
.stf_th{
	height: 10px;
}

.summary_form_sheet{
	border: 1px solid #666;
	border-radius: 10px;
	padding: 10px;
}
.main_col_heading{
	width: 20%;
	font-size: 16px;
	padding:10px;
	text-decoration:underline;
}
.title_top{
	clear:both;
	margin: 0px 50px 20px 50px;
	padding-bottom: 10px;
	border-bottom:solid 1px #9ca09e;
	font-size:18px;
	font-weight:bold;
	color:#474b49;
	line-height:10px
}
.main_title_1{
	width: 50%;
	font-size: 18px;
	padding: 10px 5px 5px 10px;
}
.main_title_2{
	font-size: 16px;
	margin-left: 5%;
	padding:5px;
}
.main_title_3{
	font-size: 16px;
	margin-left: 10%;
	padding:5px;
}
.main_col_amount{
	width: 20%;
	font-size: 16px;
	padding: 5px;
	text-align:center;
	background-color: #F5F5F5;
}
.main_col_total{
	width: 20%;
	font-size: 16px;
	padding: 5px;
	text-align:center;
	font-weight:bold;
	background-color: #F1F1F1;
}
.main_col_total span{
	border-bottom: 5px double #666;
}

.invoiceTable{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 16px;
}
.invoiceTable td{
	font-size: 14px !important;
}
.invoiceTable td.totals{
	border-bottom: none;
	border-left: none;
	text-align:right;
}

.invoiceTable td.totalAmounts{
	background-color: #ffffff;
    border-bottom: 1px solid #222222;
    border-right: 1px solid #222222;
    font-size: 14px;
    height: 27px;
    margin-bottom: 20px;
    padding: 5px 10px;
	text-align:right;
}
.patientNameInvoice{
	float:left;
	margin: 10px 10px 10px 60px;
	border: 1px solid #999;
	padding: 10px;
	min-width: 150px;
}
.dateOfInvoice{
	float:right;
	margin: 10px 60px 10px 10px;
	border: 1px solid #999;
	padding: 10px;
}
.docReportSize{
	position: relative;
	margin: 0px;
	height: 1030px;
	width: 100%;
	border: 1px solid #444;
	page-break-after: avoid !important;
	page-break-inside: avoid !important;
	page-break-before: avoid !important;
}
.title{
	clear:both;
	margin:20px 50px 20px 50px;
	border-bottom:solid 1px #9ca09e;
	font-size:22px;
	font-weight:bold;
	color:#474b49;
	padding-bottom:10px;
}

.repoCaption{
	float:left;
	width:300px;
	height: 35px;
	font-size:16px;
	margin: 5px 10px;
	padding: 0px 5px !important;
	color: #444 !important;
	font-weight: normal;
	transition: all 200ms;
}
.repoCaptonPrice{
	float: right;
	width:100px;
	height: 35px;
	text-align:right;
	font-size:16px;
	margin: 5px 10px;
	padding: 0px 5px !important;
	color: #444 !important;
	font-weight: normal;
	transition: all 200ms;
}
.printBody{
	position: absolute;
	top: 200px;
	width: 100%;
}
.docLetterHeadSize{
	position: relative;
	margin: 0px;
	height: 1095px !important;
	width: 100%;
	border: 1px solid #444;
	page-break-after: avoid !important;
	page-break-inside: avoid !important;
	page-break-before: avoid !important;
}
.repoTop{
	position: absolute;
	top: 0px;
	left:0px;
	height: 200px;
	width: 100%;
	background-image:url(../images/print/dr-top.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top left;
	-webkit-print-color-adjust: exact;
	border: none;
}
.printStethoScope{
	position: absolute;
	top: 400px;
	left: 50px;
	width: 100%;
	height: 500px;
	background-image:url('../images/Stethoscope.jpg');
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-print-color-adjust: exact;
	opacity: 0.4;
	border: none;
}

.printStethoScope .diagnosisSeprator{
	position: absolute;
	top: -150px;
	left: 130px;
	height: 750px;
	width: 20px;
	border-right: 1px solid #333;
}
.patientInfoLetterHead{
	position: absolute;
	top: 150px;
	left: 0px;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
}
.headInfoCaption{
	float: left;
	width: 150px;
	font-size: 16px;
	font-weight:normal;
	padding-left: 20px;
	padding-top: 10px;
}
.hasBgLabImage:after{
	background-image:url('../images/print/lab.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
	-webkit-print-color-adjust: exact;
}
.repoBottom{
	position: absolute;
	bottom:0px;
	left:0px;
	height: 50px;
	width: 100%;
	background-image:url(../images/print/dr-bottom.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
	-webkit-print-color-adjust: exact;
	border: none;
}


table.ultraSoundTable{
	border: none;
}
table.ultraSoundTable tr{
	border: none;
}
table.ultraSoundTable td{
	border: none;
	font-size: 16px;
}
.radioPropertyOrTest{
	cursor: pointer;
}
.repo_heading{
	background-color: #999;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin: auto 31px;
    padding: 6px 10px;
    text-align: center;
}
.repo_sub_heading{
	font-family: 'OpenSans-Light';
	background-color: #F5F5F5;
    color: #69F;
	text-shadow: 0px 0px 3px #EEE;
	border-bottom: 1px solid #69F;
    font-size: 18px !important;
    margin: auto 31px;
    padding: 6px 30px;
    text-align: left;
	position: relative;
	overflow: hidden;
}
.repo_sub_heading .giveCaret{
	position: absolute;
	right: 40px;
	top: -3px;
	padding: 18px 1px;
	transform: rotate(15deg);
	background-color: #69F;
}
.repo_sub_heading .giveCaret2{
	position: absolute;
	right: 45px;
	top: -3px;
	padding: 18px 1px;
	transform: rotate(15deg);
	background-color: #69F;
}

.repoCaptionNew{
	float:left;
	width:300px;
	height: 20px;
	font-size:16px;
	margin: 5px 10px;
	padding: 5px 5px !important;
	color: #444 !important;
	font-weight: normal;
	transition: all 200ms;
	text-align: right;
}
.repoFieldNew{
	float:left;
	width:300px;
	padding: 5px 20px;
	border-left: 1px solid #CCC;
	transition: all 200ms;
}

.input_size_repo{
	float:left;
	width: 100%;
	height: 30px;
	font-size: 16px;
	padding-left: 5px;
	border: 1px solid #999;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px;

	border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

	-moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;

	box-shadow: 0 0 5px #ccc;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
.textInfoRight{
	float: right;
	margin: 5px 100px 5px 5px;
	padding: 5px;
	color: #00;
}
.printReportHeading{
    color: #666;
    font-size: 26px;
    font-weight: normal;
    margin: auto 31px;
    padding: 6px 10px;
    text-align: center;
	border-bottom: 1px solid #DDD;
}
.printReportSubHeading{
	margin: 0px 31px 5px 31px;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    padding: 6px 10px;
    text-align: left;
	background-color: #F5F5F5;
	border-top: 1px solid #CCC;
}
.repoTestHeader{
	float:left;
	width:22%;
	font-size:14px;
	margin: 5px 0px;
	padding: 0px 5px !important;
	color: #000 !important;
	font-weight: normal;
	transition: all 200ms;
}
span.bar-code{
	position: absolute;
	bottom: -15px;
	left: 25px;
}
.repoCaption2{
	float:left;
	width:22%;
	font-size:16px;
	margin: 2px 0px;
	padding: 0px 5px !important;
	color: #333 !important;
	font-weight: normal;
	transition: all 200ms;
}
.repoPatientHeads{
	width: 150px;
	font-size: 16px;
	background-color: #FFF;
	font-weight: normal;
	border: none;
	text-align: left;
}
.repoPatientInfos{
	font-size: 16px;
	background-color: #FFF;
	font-weight: normal;
	border: none;
	text-align: left;
}

.miniCaption{
	font-family: 'OpenSans-Light';
	font-size: 14px;
	float: left;
	width: 80px;
	text-align: right;
	padding: 0px 5px;
	margin-top: 5px;
}
.miniField{
	font-family: 'OpenSans-Light';
	font-size: 14px;
	float: left;
	width: 100px;
	text-align: left;
	padding: 0px 5px;
	margin-top: 5px;
}

/* balance sheet & Profit N Loss */
#summary_form{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin:10px;
	padding-bottom:15px
}
.report_heading{
	font-size:20px;
	padding:0;
	text-align:center;
	font-weight:bold;
}
#summary_form .main_title_1{
	margin:10px 0px;
	font-size:24px;
	color:#474b49;
	line-height:0px;
	padding: 20px 0px;
	width: 100%;
	text-align:center;
	background-color: #F5F5F5;
	border: 1px solid #EEE;
}
#summary_form .main_title_middle{
	width:200px;
	margin:10px 0px;
	font-size:18px;
	color:#474b49;
	line-height:0px;
	padding:20px 0px;
	text-align:center;
	background-color: #F5F5F5;
	border: 1px solid #EEE;
}
#summary_form .main_title_amuont{
	width:200px;
	margin:10px 10px;
	font-size:16px;
	color:#474b49;
	line-height:0px;
	padding:20px 0px;
	text-align:right;
	font-weight: bold;
	text-decoration: underline;
}
.field_column{
	 float:right;
	 text-align: right;
	 margin-right:180px;
	 width:100px;
	 padding: 0px !important;
}
.current_year{
	 background-color:#F5F5F5;
	 float:right;
	 text-align:right;
	 width:100px;
	 padding:5px 0;
}
.previous_year{
	 float:left;
	 text-align: right;
	 margin-left:30px;
	 width:100px;
	 padding:5px 0;
}
#form .bs_caption{
	float:left;
	width:200px;
	height:15px;
	margin-left:20px;
	margin-right:11px;
	margin-top:10px;
	text-align:right;
	font-size:14px;
	color:#333333;
	line-height:26px ;
}
/* ----- END ------- Balance Sheet & Profit N Loss  */

.caption_P{
	width: 300px;
	margin-left: 70px;
	padding: 2px;
}


.smallPrint{
	width: 400px;
	margin: 0 auto;
}

.smallPrint .leftCaption{
	float: left;
	margin-left: 10px;
	padding: 5px 10px;
	width: 170px;
}

.smallPrint .rightCaption{
	float: right;
	margin-right: 10px;
	padding: 5px 10px;
	width: 170px;
	text-align: right;
}

.pageFoooter .pazeNum{
	float: right;
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 0px 0px
}
.invLogo{
	height: 100px;
	border:  1px solid #CCC;
	padding:  2px;
	border-radius: 3px;
}
.infoPanel{
	min-height: 50px;
	width: 49%;
	padding: 5px 0px;
	margin: 2px;
	height: 114px;
}
.infoPanel .infoHead{
	padding: 5px;
	color: #000;
	font-weight:  bold;
	border-bottom: 1px solid #666;
	margin: 5px ;
}
.infoPanel span{
	padding-left: 10px !important;
}
.invoPanel{
	margin: 0px auto;
	padding: 5px;
	border: 1px solid #000;
}
.invoPanel .caption{
	float: left;
	text-align: right;
	width: 60px;
}
.invoPanel .text_line{
	float: left;
	margin-left: 10px;
	font-weight: bold;
}
.invoice_footer{
	width: 100%;
	padding: 30px 10px;
}
.invoice-developer-info{
	border-top: 1px solid #000;
	padding: 5px 0px;
	text-align: center;
}

.text-center{
	text-align: center !important;
}
.text-right{
	text-align: right !important;
}
.text-left{
	text-align: left !important;
}

.bold_table_tr td{
    font-weight: bold;
}

.product_thumb{
	float: left;
	margin-left: 10px;
	border: 1px solid #777;
	padding: 4px;
	overflow: hidden;
}
.product_thumb img{
	height: 120px;
	max-width: 150px;
}
.product_thumb span.caption_thumbg{
	width: 100%;
	text-align: center;
	display: block;
	padding-top: 10px;
}
.absoute_bottom_right{
	position: absolute;
	bottom: 40px;
	right:  40px;
}
.opacity_zero{
	opacity: 0.0 !important;
}
.bg-info {
  background-color: #d9edf7;
}
.bg-danger {
  background-color: #f2dede;
}
/******* Margin Helpers *******/


/*Margin-All*/

.m-0 {
    margin: 0px !important;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.m-35 {
    margin: 35px;
}


/*		Margin-left					*/

.ml-3 {
    margin-left: 3px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}


/*		Margin-right				*/

.mr-3 {
    margin-right: 3px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}


/*		Margin-Horizontal			*/

.mh-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mh-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mh-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mh-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mh-30 {
    margin-left: 30px;
    margin-right: 30px;
}


/*Margin Vertical*/

.mv-5 {
    margin: 5px 0;
}

.mv-10 {
    margin: 10px 0;
}

.mv-15 {
    margin: 15px 0;
}

.mv-20 {
    margin: 20px 0;
}

.mv-25 {
    margin: 25px 0px;
}

.mv-25 {
    margin: 30px 0;
}


/*		margin-top			*/

.mt-3 {
    margin-top: 3px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}


/*		Margin-bottom		*/

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}


/******* padding Helpers *******/


/*		padding-All					*/

.p-0 {
    padding: 0px !important;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-35 {
    padding: 35px;
}


/*		padding-left					*/

.pl-3 {
    padding-left: 3px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}


/*		padding-right				*/

.pr-3 {
    padding-right: 3px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}


/*		padding-Horizontal			*/

.ph-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.ph-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.ph-30 {
    padding-left: 30px;
    padding-right: 30px
}


/*		padding Vertical				*/

.pv-5 {
    padding: 5px 0;
}

.pv-10 {
    padding: 10px 0;
}

.pv-15 {
    padding: 15px 0;
}

.pv-20 {
    padding: 20px 0;
}

.pv-25 {
    padding: 25px 0px;
}

.pv-25 {
    padding: 30px 0;
}


/*		padding-top			*/

.pt-3 {
    padding-top: 3px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}


/*		padding-bottom		*/

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}
.invoice-title{
	border: 1px solid #000;
	padding: 2px 10px !important;
}
.no-border{
  border: none !important ;
}
