@charset "utf-8";
/* CSS Document */
@media print{
	
}
body{
	width: 7.4in;
	height: 10.12in;
	margin-top: 0.1in;
	margin-left: 0.25in;
}
*{
	-webkit-print-color-adjust: exact;
}
.barcode-print{
}
#lable{
	float:left;
	font-size: 12px;
	margin: 0.07in 0.21in 0.0in 0.0in;
	width: 1.62in;
	height:1.16in;
	border: 1px solid #FFF;
	border-radius: 10px;
	overflow: hidden;
	page-break-inside:avoid !important; 
	page-break-after:auto !important;
}
#lable .line{
	font-size: 10px;
	height: 10px;
	padding-top: 15px;
	position:relative;
	top:5px;
	text-align: center;
}
#lable .left{
	float:left;
	width:30px;
	height:70px;
	display: none;
}
#lable .right{
	float:right;
	margin-top: 20px;
}
#lable .left .rotate{
	margin-top:30px;
	font-size: 10px;
	-ms-transform:rotate(270deg); /* IE 9 */
  	-moz-transform:rotate(270deg); /* Firefox */
  	-webkit-transform:rotate(270deg); /* Safari and Chrome */
  	-o-transform:rotate(270deg); /* Opera */	
}
#lable .right .barcode{
	text-align: center;
}
#lable .right .barcode img{
	width: 150px;
	max-height: 40px;
}
#lable .right .barcodeNo{
	text-align:center;
	margin-left: 10px;
	margin-right: 10px;
}
.clear{
	clear: both;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
@media print{
	.dont-print{
		display:none;
	}
}