@charset "utf-8";
/* CSS Document */

    #fade {
        display: none;
        background-color: #000;
        position: fixed; left: 0; top: 0; 
        width: 100%; height: 100%;
        opacity: .80;
        z-index: 9999;
    }
    
    .popup_block{
        display: none;
        background: #ecf7fb;
		width: 300px;
		height: 100px;
        padding: 3px; 	
        border: 1px solid #4d514f;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%; left: 50%;
        z-index: 99999;
        -webkit-box-shadow: 0px 0px 5px #000;
        -moz-box-shadow: 0px 0px 5px #000;
        box-shadow: 0px 0px 5px #000;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
		
		
	/*border:7px solid #719e37;
	
	background:url(../images/bg-table-heading.png) repeat-x;
	
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	
	-moz-border-radius-topleft:5px; 
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
	
	-webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;*/
		
		
    }
    
    /*--Making IE6 Understand Fixed Positioning--*/
    
    *html #fade {
        position: absolute;
    }
    
    *html .popup_block {
        position: absolute;
    }


#lightBox{
	padding-bottom:10px;
	text-align:center;
}


#lightBox .title{
	
	font-size:24px;
	color:#FFF;
	
	height:34px;
	background:url(../images/bg-table-heading.png) repeat-x;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
	
	-moz-border-radius-topleft:10px; /* top left corner */
    -moz-border-radius-topright:10px; /* top right corner */
    -moz-border-radius-bottomleft:8px; /* bottom left corner */
    -moz-border-radius-bottomright:8px; /* bottom right corner */
	
	-webkit-border-top-left-radius:10px; /* top left corner */
    -webkit-border-top-right-radius:10px; /* top right corner */
    -webkit-border-bottom-left-radius:8px; /* bottom left corner */
    -webkit-border-bottom-right-radius:8px; /* bottom right corner */
	
}
#lightBox a{
	text-decoration:none;
}
#lightBox .message{
	clear:both;
	margin-bottom:5px;
	font-size:20px;
	color:#000000;
	
}
