table{
	margin:0;
	width:100%;
	margin:0 auto;
}
table th{
	color:;
	height:27px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px dotted #e5e5e5;
/*	border-right:1px dotted #CCC;
*/	margin-bottom:20px;
	background-color:#f5f5f5;
	font-size:14px;
	padding:5px 10px 5px 10px; 

}
table th.bg-color{
	height:0px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px dotted #e5e5e5;
	margin-bottom:20px;
	background-color:#e6e6e6;
	font-size:14px !important;
	font-weight: normal !important;
	padding:5px 10px 5px 10px; 
}
table th.bg-color-1{
	height:0px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px dotted #e5e5e5;
	margin-bottom:20px;
	background-color:#F3F3F3;
	font-size:14px;
	padding:5px 10px 5px 10px; 
}
.font16x{
	font-size: 16px !important;
}
table th.bg-color-x{
	height:0px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px dotted #e5e5e5;
	margin-bottom:20px;
	background-color:#F3F3F3;
	font-size:16px;
	padding:5px 10px 5px 10px; 
}


table td{
	padding: 5px 5px; 
    font-size:12px;
	border-top:0;
	border-bottom:1px solid #e5e5e5;
	border-right:1px dotted #e5e5e5;
	color: #000;
}

table td:hover{
	height:0px;
}
table td a.hover{
	font-weight:bold; 
	text-decoration:none; 
	color:#0080FF
}
table td a.hover:hover{
	text-decoration:underline;
}

/*table th{
	background:#B9B9B9;
	background-color:#f5f5f5;
	font-size:13px;
	padding:5px 10px 5px 10px; 
}*/
table tr{
	background-color:#fff;
	width:100%;
}
table tr.entry_row:hover{
	background:#FFF

}
table td img{
	border:0;
	margin:0px 5px;
}
table tr th.th{
	padding-top:0;
	width:16%;
}
.lol{
	background:#f5f5f5;
}
.tbl1{
	width:70%;
}
.button2{
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background:#F00;
	border: 1px solid #459300 !important;
	padding: 4px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 11px !important;
	cursor: pointer;
}               
.button:hover2{
    text-decoration: underline;
}
.chart{
	margin:10px auto;
	border:1px solid #e3e3e3;
	border-radius:5px;
}
.chart img{
	opacity:0.5;
}
.chart th{
	width:100%;
	background:#f2f2f2;
	color:#999999;
	border:none;
}
.chart tr{
	border:none;
	background:#F2F2F2;
}