    .message {
        color: #fff;
        background-color: red;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    ol, ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* start editing from here */

    a {
        text-decoration: none;
    }

    .txt-rt {
        text-align: right;
    }
    /* text align right */

    .txt-lt {
        text-align: left;
    }
    /* text align left */

    .txt-center {
        text-align: center;
    }
    /* text align center */

    .float-rt {
        float: right;
    }
    /* float right */

    .float-lt {
        float: left;
    }
    /* float left */

    .clear {
        clear: both;
    }
    /* clear float */

    .pos-relative {
        position: relative;
    }
    /* Position Relative */

    .pos-absolute {
        position: absolute;
    }
    /* Position Absolute */

    .vertical-base {
        vertical-align: baseline;
    }
    /* vertical align baseline */

    .vertical-top {
        vertical-align: top;
    }
    /* vertical align top */

    nav.vertical ul li {
        display: block;
    }
    /* vertical menu */

    nav.horizontal ul li {
        display: inline-block;
    }
    /* horizontal menu */

    img {
        max-width: 100%;
    }
    /*end reset*/
    /****-----start-body----****/

    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #2980B9 !important;
        background-image: none;
        /*background-image: url('../images/bg-patterns/climpek.png');
        background-repeat: repeat;
        background-position: 0px 0px;*/
    }

    .login-form {
        width: 26%;
        margin: 9% auto 4% auto;
        position: relative;
        -webkit-border-radius: 0.4em;
        -o-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        background: #606060;
        /* Old browsers */
        background: -moz-linear-gradient(top, #606060 0%, #4a4a4a 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #4a4a4a));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #606060 0%, #4a4a4a 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #606060 0%, #4a4a4a 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #606060 0%, #4a4a4a 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #606060 0%, #4a4a4a 100%);
        /* W3C */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#4a4a4a', GradientType=0);
        /* IE6-9 */
        border: 1px solid #000;
        border-radius: 11px;
        box-shadow: 0px 1px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 0px rgba(255, 255, 255, 0.08) inset, -1px 0px rgba(255, 255, 255, 0.08) inset, 0px 2px 8px rgba(0, 0, 0, 0.5);
    }

    .login-form .form-container {
        background-color: #FFF;
        border-radius: 11px;
        z-index: 90;
        position: relative;
        box-shadow: 0px 0px 5px 0px #000;
        -webkit-box-shadow: 0px 0px 5px 0px #000;
        -moz-box-shadow: 0px 0px 5px 0px #000;
        -o-box-shadow: 0px 0px 5px 0px #000;
        margin: 0 3% 3% 3%;
    }

    .head {}

    .head img {
        float: left;
        width: 50%;
        margin: 10px 10px 0px 10px;
    }

    .main {
        position: relative;
    }

    .main h1 {
        font-size: 25px;
        color: #676767;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        padding-top: 19%;
        text-align: center;
    }

    .main form {
        width: 90%;
        margin: 0 auto;
        padding: 9% 0 5% 0;
    }

    input[type=radio].css-checkbox {
        position: absolute;
        z-index: -1000;
        left: -1000px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    input[type=radio].css-checkbox+label.css-label-radio {
        padding-left: 25px !important;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle !important;
        cursor: pointer;
    }

    input[type=radio].css-checkbox:checked+label.css-label-radio {
        background-position: 0 -20px;
    }

    label.css-label-radio {
        background-image: url('../images/csscheckbox_182e3a2a38f720d4abcbb2efa7cf6aeb.png');
        -moz-transition: background 400ms;
        -webkit-transition: background 400ms;
        transition: background 400ms;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .main p {
        text-align: center;
    }

    .main form a {
        color: #888;
        font-family: 'Open Sans', sans-serif;
    }

    .main form p a {
        color: #888;
        font-family: 'Open Sans', sans-serif;
    }

    form p a:hover {
        color: #21A957;
    }

    .cancel-button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .cancel-button:focus, .cancel-button:active:focus, .cancel-button.active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .cancel-button:hover, .cancel-button:focus {
        color: #333;
        text-decoration: none;
    }

    .cancel-button:active, .cancel-button.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    .cancel-button.disabled, .cancel-button[disabled], fieldset[disabled] .cancel-button {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

    .button {
        font-family: "Roboto";
        font-weight: normal;
        font-size: 14px !important;
        margin: 0;
        cursor: pointer;
        background: url('../images/bg-button-green.gif') top left repeat-x;
        border: 0;
        color: #FFF;
        border-radius: 3px;
        box-shadow: 0 2px 2px -2px #000;
        -webkit-box-shadow: 0 2px 2px -2px #000;
        display: inline-block;
        padding: 4px 7px !important;
        height: 30px;
        transition: all 100ms;
        -moz-transition: all 100ms;
        -webkit-transition: all 100ms;
        cursor: pointer;
    }

    .button:focus, .button:hover {
        box-shadow: 0 2px 5px -2px #000;
        -webkit-box-shadow: 0 2px 5px -2px #000;
        color: white;
    }

    .button:active {
        box-shadow: 0px 0px 2px 0px #666 inset !important;
        -moz-box-shadow: 0px 0px 2px 0px #666 inset !important;
        -webkit-box-shadow: 0px 0px 2px 0px #666 inset !important;
        position: relative;
    }

    input[type="text"], input[type="password"] {
        text-align: left;
        position: relative;
        width: 92%;
        padding: 3%;
        margin-bottom: 6%;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        outline: none;
        border: none;
        border: 1px solid #999;
        color: #333;
        border-radius: 3px;
        background: #fff;
        transition: all 300ms;
        box-shadow: 0px 2px 5px 0px #EEE;
        -wbkit-box-shadow: 0px 2px 2px 0px #EEE;
        -webkit-appearance: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
    }

    .text-danger {
        color: #099 !important;
    }

    input[type="text"]:focus, input[type="password"]:focus {
        border: 1px dashed #949494;
    }

    input[type="text"]:hover, input[type="password"]:hover {
        border: 1px dashed #949494;
    }

    input[type="submit"], input[type="button"], button {
        float: right;
        min-width: 35%;
        padding: 2%;
        /*margin-bottom: 8%;*/
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        outline: none;
        border: none;
        cursor: pointer;
        font-weight: 500;
        border-radius: 5px;
        background-image:-webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
        background-image:-o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
        background-image:-webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
        background-image:linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);background-repeat:no-repeat;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
        -webkit-filter:none;filter:none;border-bottom:1px solid #178acc
        transition: 0.3s;
        -webkit-appearance: none;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        position: relative;
    }

    input[type="submit"]:hover, input[type="submit"]:focus {
        box-shadow: 0 2px 10px -2px #000;
        -webkit-box-shadow: 0 2px 10px -2px #000;
    }
    /****************/

    .copy-right {
        position: absolute;
        bottom: -19%;
        left: 43.7%;
    }

    .copy-right p {
        color: #fff;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    .copy-right p a {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        color: #21A957;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .copy-right p a:hover {
        color: #fff;
    }
    /*-----start-responsive-design------*/

    @media (max-width:1440px) {
        .login-form {
            width: 30%;
            margin: 11% auto 4% auto;
        }
        .main h1 {
            padding-top: 23%;
        }
        .copy-right {
            bottom: -26%;
        }
    }

    @media (max-width:1366px) {
        .login-form {
            width: 32%;
            margin: 10% auto 4% auto;
        }
    }

    @media (max-width:1280px) {
        .login-form {
            margin: 8% auto 0;
            width: 35%;
        }
        .copy-right {
            left: 41%;
            bottom: -18%;
        }
    }

    @media (max-width:1024px) {
        .login-form {
            margin: 12% auto 0;
            width: 45%;
        }
        .copy-right {
            left: 41%;
            bottom: -18%;
        }
    }

    @media (max-width:768px) {
        .login-form {
            margin: 16% auto 0;
            width: 59%;
        }
        .copy-right {
            left: 38%;
            bottom: -14%;
        }
    }

    @media (max-width:640px) {
        .login-form {
            margin: 9% auto 9%;
            width: 80%;
        }
        .copy-right {
            left: 36%;
            bottom: -18%;
        }
    }

    @media (max-width:480px) {
        .head img {
            width: 50%;
        }
        .login-form {
            margin: 32% auto 0;
            width: 95%;
        }
        .copy-right {
            left: 30%;
            bottom: -17%;
        }
        .main h1 {
            font-size: 22px;
        }
        .head img {
            width: 50%;
        }
        .head {
            top: -15%;
            left: 34%;
        }
        input[type="text"], input[type="password"], input[type="submit"] {
            font-weight: 300;
            margin-bottom: 4%;
        }
    }

    @media (max-width:320px) {
        .login-form {
            margin: 20% auto 0;
            width: 90%;
        }
        .main h1 {
            padding-top: 20%;
            font-size: 20px;
        }
        .head img {
            width: 50%;
            /*border: 5px solid rgba(221, 218, 215, 0.23);*/
        }
        .head {
            top: -15%;
            left: 36%;
        }
        input[type="text"], input[type="password"], input[type="submit"] {
            font-weight: 600;
            font-size: 15px;
        }
        .main form a {
            font-size: 15px;
        }
        .main form p a {
            font-size: 15px;
        }
        input[type="submit"] {
            padding: 4%;
        }
    }

    .animate-while-showing {
        -webkit-animation: dropdownOpen 0.3s ease-out;
        -o-animation: dropdownOpen 0.3s ease-out;
        animation: dropdownOpen 0.3s ease-out;
    }

    .animate-while-hiding {
        -webkit-animation: dropdownClose 0.3s ease-out;
        -o-animation: dropdownClose 0.3s ease-out;
        animation: dropdownClose 0.3s ease-out;
    }
    /* 2.0 Dropdown */

    .dropdown-menu {
        box-shadow: none;
        padding: 4px 0;
        -webkit-animation: dropdownOpen 0.3s ease-out;
        -o-animation: dropdownOpen 0.3s ease-out;
        animation: dropdownOpen 0.3s ease-out;
        border: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    }

    .dropdown-menu>li>a {
        padding: 6px 20px;
    }

    @-webkit-keyframes dropdownOpen {
        0% {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes dropdownOpen {
        0% {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    @-webkit-keyframes dropdownClose {
        0% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes dropdownClose {
        0% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
    }
