@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../fonts/sDGTilo5QRsfWu6Yc11AXg.woff2') format('woff2'), url('../fonts/_xyN3apAT_yRRDeqB3sPRg.woff') format('woff');
}
body{
	font-family: 'Ubuntu';
	color:  #000  !important;
}
@media print{
	@page{
		size: 8.27in 11.69in !important;
		margin: minimum !important;
	}
	*{
		-webkit-print-color-adjust: exact !important;
	}
	.repoBottom,.repoTop{
		-webkit-print-color-adjust: exact !important;
	}

	.printBody{
		position: absolute  !important;
		top: 150px  !important;
		width: 100%  !important;
	}
	.voucherBox{
		position: relative !important;
        page-break-inside:avoid  !important; 
		page-break-after:auto  !important;
	}
	.tablePage{
		position: relative !important;
        page-break-inside:avoid  !important; 
		page-break-after:auto  !important;
	}
	.hideInPrint,.noPrint{
		display: none !important;
	}
	.text-left{
		text-align: left !important;
	}
	.text-center{
		text-align: center !important;
	}
	.text-right{
		text-align: right !important;
	}
	.clear{
		clear: both !important;
	}
	.pull-right{
		float:right !important;
	}
	.pull-left{
		float:left !important;
	}
	.printTable{
		font-family: 'Ubuntu';
	}
	p{
		font-family: 'Ubuntu';
	}
	*{
		font-family: 'Ubuntu';
	}
	#form .caption{
		font-family: 'Ubuntu' !important;
		float: left !important;
		width: 150px !important;
		height: 15px !important;
		margin-left: 20px !important;
		margin-right: 11px !important;
		margin-top: 10px !important;
		text-align: right !important;
		font-size: 12px !important;
		color: #333333 !important;
		line-height: 10px !important;
	}
	#form .fieldDisplay {
		font-size: 12px !important;
		float: left !important;
		width: 400px !important;
		border: 1px solid #DDDDDD !important;
		padding: 5px !important;
		height: 20px !important;
		/* -webkit-box-shadow: #F4F4F4 0 0 0 2px !important; */
		border-top-right-radius: 5px !important;
		border-top-left-radius: 5px !important;
		border-bottom-right-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
		-moz-border-radius-topleft: 5px !important;
		-moz-border-radius-topright: 5px !important;
		-moz-border-radius-bottomleft: 5px !important;
		-moz-border-radius-bottomright: 5px !important;
		-webkit-border-top-left-radius: 5px !important;
		-webkit-border-top-right-radius: 5px !important;
		-webkit-border-bottom-left-radius: 5px !important;
		-webkit-border-bottom-right-radius: 5px !important;
	}
	table{
		font-family: 'Ubuntu' !important;
		margin:0 !important;
		width:100% !important;
		margin:0 auto !important;
		-webkit-print-color-adjust: exact !important;
	}
	table th{
		height:27px !important;
		border-bottom:1px solid #666666 !important;
		border-right:1px solid #666666 !important;
		margin-bottom:20px !important;
		background-color:#f5f5f5 !important;
		font-size:12px !important;
		padding:2px !important; 
		color: #000 !important;
	}
	table th.bg-color{
		height:0px !important;
		border-bottom:1px solid #666666 !important;
		border-right:1px solid #666666 !important;
		margin-bottom:20px !important;
		background-color:#e6e6e6 !important;
		font-size:12px  !important;
		font-weight: normal  !important;
		padding:2px !important; 
	}
	table th.bg-color-1{
		height:0px !important;
		border-bottom:1px solid #666666 !important;
		border-right:1px solid #666666 !important;
		margin-bottom:20px !important;
		background-color:#F3F3F3 !important;
		font-size:12px !important;
		padding:2px !important; 
	}
	.font16x{
		font-size: 16px  !important;
	}
	table th.bg-color-x{
		height:0px !important;
		border-bottom:1px solid #666666 !important;
		border-right:1px solid #666666 !important;
		margin-bottom:20px !important;
		background-color:#CCC !important;
		font-size:16px !important;
		padding:2px !important; 
	}
	table td{
		height: 25px !important; 
		font-size:10px !important;
		border-top:0 !important;
		border-bottom:1px solid #666666 !important;
		border-right:1px solid #666666 !important;
		color: #000 !important;
	}
	a{
		text-decoration: none  !important;
		color:#333 !important;
	}
	.title_top{
	clear:both !important;
	margin: 0px 50px 20px 50px !important;	
	padding-bottom: 10px !important;
	border-bottom:solid 1px #9ca09e !important;
	font-size:18px !important;
	font-weight:bold !important;
	color:#474b49 !important;
	line-height:10px
	}
	.main_title_1{
		width: 50% !important;
		font-size: 18px !important;
		padding: 10px 0px !important;
	}
	.main_title_2{
		font-size: 16px !important;
		margin-left: 5% !important;
		padding:5px !important;
	}
	.main_title_3{
		font-size: 16px !important;
		margin-left: 10% !important;
		padding:5px !important;
	}
	.main_col_amount{
		width: 20% !important;
		font-size: 16px !important;
		padding: 5px !important;
		text-align:center !important;
		background-color: #F5F5F5 !important;
	}
	.main_col_total{
		width: 20% !important;
		font-size: 16px !important;
		padding: 5px !important;
		text-align:center !important;
		font-weight:bold !important;
		background-color: #F1F1F1 !important;
	}
	.main_col_total span{
		border-bottom: 5px double #666 !important;
	}

	.invoiceTable{
		border-collapse: collapse !important;
		border-spacing: 0 !important;
		font-size: 16px !important;
	}
	.invoiceTable td{
		font-size: 12px  !important;
	}
	.invoiceTable td.totals{
		border-bottom: none !important;
		border-left: none !important;
		text-align:right !important;
	}
	.rep_row{
		width: 100%;
	}
	.invoiceTable td.totalAmounts{
		background-color: #ffffff !important;
	    border-bottom: 1px solid #666666 !important;
	    border-right: 1px solid #666666 !important;
	    font-size: 12px !important;
	    height: 27px !important;
	    margin-bottom: 20px !important;
	    padding: 5px 10px !important;
		text-align:right !important;
	}
	.patientNameInvoice{
		float:left !important;
		margin: 10px 10px 10px 60px !important;
		border: 1px solid #999 !important;
		padding: 10px !important;
		min-width: 150px !important;
	}
	.dateOfInvoice{
		float:right !important;
		margin: 10px 60px 10px 10px !important;
		border: 1px solid #999 !important;
		padding: 10px !important;
	}
	.docReportSize{
		position: relative !important;
		margin: 0px !important;
		height: 1030px !important;
		width: 100% !important;
		border: 1px solid #444 !important;
		page-break-after: avoid  !important;
		page-break-inside: avoid  !important;
		page-break-before: avoid  !important;
	}
	.title{
		clear:both !important;
		margin:20px 50px 20px 50px !important;	
		border-bottom:solid 1px #9ca09e !important;
		font-size:22px !important;
		font-weight:bold !important;
		color:#474b49 !important;
		padding-bottom:10px !important;
	}

	.repoCaption{
		float:left !important;
		width:300px !important;
		height: 35px !important;
		font-size:16px !important;
		margin: 5px 10px !important;
		padding: 0px 5px  !important;
		color: #444  !important;
		font-weight: normal !important;
		transition: all 200ms !important;
	}
	.repoCaptonPrice{
		float: right !important;
		width:100px !important;
		height: 35px !important;
		text-align:right !important;
		font-size:16px !important;
		margin: 5px 10px !important;
		padding: 0px 5px  !important;
		color: #444  !important;
		font-weight: normal !important;
		transition: all 200ms !important;
	}
	.printBody{
		position: absolute !important;
		top: 200px !important;
		width: 100% !important;
	}
	.docLetterHeadSize{
		position: relative !important;
		margin: 0px !important;
		height: 1095px  !important;
		width: 100% !important;
		border: 1px solid #444 !important;
		page-break-after: avoid  !important;
		page-break-inside: avoid  !important;
		page-break-before: avoid  !important;
	}
	.repoTop{
		position: absolute !important;
		top: 0px !important;
		left:0px !important;
		height: 200px !important;
		width: 100% !important;
		background-image:url(../images/print/dr-top.jpg) !important;
		background-size: 100% !important;
		background-repeat: no-repeat !important;
		background-position: top left !important;
		-webkit-print-color-adjust: exact !important;
		border: none !important;
	}
	.printStethoScope{
		position: absolute !important;
		top: 400px !important;
		left: 50px !important;
		width: 100% !important;
		height: 500px !important;
		background-image:url('../images/Stethoscope.jpg') !important;
		background-size: 500px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		-webkit-print-color-adjust: exact !important;
		opacity: 0.4 !important;
		border: none !important;
	}

	.printStethoScope .diagnosisSeprator{
		position: absolute !important;
		top: -150px !important;
		left: 130px !important;
		height: 750px !important;
		width: 20px !important;
		border-right: 1px solid #333 !important;
	}
	.patientInfoLetterHead{
		position: absolute !important;
		top: 150px !important;
		left: 0px !important;
		width: 100% !important;
		height: 30px !important;
		border-bottom: 1px solid #666 !important;
		padding-bottom: 10px !important;
	}
	.headInfoCaption{
		float: left !important;
		width: 150px !important;
		font-size: 16px !important;
		font-weight:normal !important;
		padding-left: 20px !important;
		padding-top: 10px !important;
	}
	.hasBgLabImage:after{
		background-image:url('../images/print/lab.jpg') !important;
		background-size: 100% !important;
		background-repeat: no-repeat !important;
		background-position: bottom left !important;
		-webkit-print-color-adjust: exact !important;
	}
	.repoBottom{
		position: absolute !important;
		bottom:0px !important;
		left:0px !important;
		height: 50px !important;
		width: 100% !important;
		background-image:url(../images/print/dr-bottom.jpg) !important;
		background-size: 100% !important;
		background-repeat: no-repeat !important;
		background-position: bottom left !important;
		-webkit-print-color-adjust: exact !important;
		border: none !important;
	}


	table.ultraSoundTable{
		border: none !important;
	}
	table.ultraSoundTable tr{
		border: none !important;
	}
	table.ultraSoundTable td{
		border: none !important;
		font-size: 16px !important;
	}
	.radioPropertyOrTest{
		cursor: pointer !important;
	}
	.repo_heading{
		background-color: #999 !important;
	    color: #FFF !important;
	    font-size: 18px !important;
	    font-weight: bold !important;
	    margin: auto 31px !important;
	    padding: 6px 10px !important;
	    text-align: center !important;
	}
	.repo_sub_heading{
		font-family: 'Ubuntu' !important;
		background-color: #F5F5F5 !important;
	    color: #69F !important;
		text-shadow: 0px 0px 3px #EEE !important;
		border-bottom: 1px solid #69F !important;
	    font-size: 18px  !important;
	    margin: auto 31px !important;
	    padding: 6px 30px !important;
	    text-align: left !important;
		position: relative !important;
		overflow: hidden !important;
	}
	.repo_sub_heading .giveCaret{
		position: absolute !important;
		right: 40px !important;
		top: -3px !important;
		padding: 18px 1px !important;
		transform: rotate(15deg) !important;
		background-color: #69F !important;
	}
	.repo_sub_heading .giveCaret2{
		position: absolute !important;
		right: 45px !important;
		top: -3px !important;
		padding: 18px 1px !important;
		transform: rotate(15deg) !important;
		background-color: #69F !important;
	}

	.repoCaptionNew{
		float:left !important;
		width:300px !important;
		height: 20px !important;
		font-size:16px !important;
		margin: 5px 10px !important;
		padding: 5px 5px  !important;
		color: #444  !important;
		font-weight: normal !important;
		transition: all 200ms !important;
		text-align: right !important;
	}
	.repoFieldNew{
		float:left !important;
		width:300px !important;
		padding: 5px 20px !important;
		border-left: 1px solid #CCC !important;
		transition: all 200ms !important;
	}

	.input_size_repo{
		float:left !important;
		width: 100% !important;
		height: 30px !important;
		font-size: 16px !important;
		padding-left: 5px !important;
		border: 1px solid #999 !important;
		-webkit-box-shadow:#F4F4F4 0 0 0 2px !important;
		
		border-top-right-radius: 3px !important;
	    border-top-left-radius: 3px !important;
	    border-bottom-right-radius: 3px !important;
	    border-bottom-left-radius: 3px !important;
		
		-moz-border-radius-topleft:3px !important; 
	    -moz-border-radius-topright:3px !important;
	    -moz-border-radius-bottomleft:3px !important;
	    -moz-border-radius-bottomright:5px !important;
		
		-webkit-border-top-left-radius:3px !important;
	    -webkit-border-top-right-radius:3px !important;
	    -webkit-border-bottom-left-radius:3px !important;
	    -webkit-border-bottom-right-radius:3px !important;
		
		box-shadow: 0 0 5px #ccc !important;
		transition: box-shadow 300ms !important;
		-webkit-transition: box-shadow 300ms !important;
	}
	.textInfoRight{
		float: right !important;
		margin: 5px 100px 5px 5px !important;
		padding: 5px !important;
		color: #00 !important;
	}
	.printReportHeading{
	    color: #666 !important;
	    font-size: 26px !important;
	    font-weight: normal !important;
	    margin: auto 31px !important;
	    padding: 6px 10px !important;
	    text-align: center !important;
		border-bottom: 1px solid #DDD !important;
	}
	.printReportSubHeading{
		margin: 0px 31px 5px 31px !important;
	    color: #333 !important;
	    font-size: 16px !important;
	    font-weight: normal !important;
	    padding: 6px 10px !important;
	    text-align: left !important;
		background-color: #F5F5F5 !important;
		border-top: 1px solid #CCC !important;
	}
	.repoTestHeader{
		float:left !important;
		width:22% !important;
		font-size:12px !important;
		margin: 5px 0px !important;
		padding: 0px 5px  !important;
		color: #000  !important;
		font-weight: normal !important;
		transition: all 200ms !important;
	}
	span.bar-code{
		position: absolute !important;
		bottom: -15px !important;
		left: 25px !important;
	}
	.repoCaption2{
		float:left !important;
		width:22% !important;
		font-size:16px !important;
		margin: 2px 0px !important;
		padding: 0px 5px  !important;
		color: #333  !important;
		font-weight: normal !important;
		transition: all 200ms !important;
	}
	.repoPatientHeads{
		width: 150px !important;
		font-size: 16px !important;
		background-color: #FFF !important;
		font-weight: normal !important;
		border: none !important;
		text-align: left !important;
	}
	.repoPatientInfos{
		font-size: 16px !important;
		background-color: #FFF !important;
		font-weight: normal !important;
		border: none !important;
		text-align: left !important;
	}

	.miniCaption{
		font-family: 'Ubuntu' !important;
		font-size: 12px !important;
		float: left !important;
		width: 80px !important;
		text-align: right !important;
		padding: 0px 5px !important;
		margin-top: 5px !important;
	}
	.miniField{
		font-family: 'Ubuntu' !important;
		font-size: 12px !important;
		float: left !important;
		width: 100px !important;
		text-align: left !important;
		padding: 0px 5px !important;
		margin-top: 5px !important;
	}

	/* balance sheet & Profit N Loss */
	#summary_form{
		font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-size: 12px !important;
		color: #000 !important;
		margin:10px !important;
		padding-bottom:15px
	}
	.report_heading{
		font-size: 16px !important;
		padding:0 !important;
		text-align:center !important;
	}
	#summary_form .main_title_1{
		margin:10px 0px !important;	
		font-size:24px !important;
		color:#000 !important;
		line-height:0px !important;
		padding: 20px 0px !important;
		width: 100% !important;
		text-align:center !important;
		border-top: 1px dashed #474b49 !important;
		border-bottom: 1px dashed #474b49 !important;
	}
	#summary_form .main_title_middle{
		width:200px !important;
		margin:10px 0px !important;
		font-size:18px !important;
		color:#474b49 !important;
		line-height:0px !important;
		padding:20px 0px !important;
		text-align:center !important;
		border-bottom: 1px solid #000 !important;
	}
	#summary_form .main_title_amuont{
		width:200px !important;
		margin:10px 10px !important;
		font-size:16px !important;
		color:#474b49 !important;
		line-height:0px !important;
		padding:20px 0px !important;
		text-align:right !important;
		font-weight: bold !important;
		text-decoration: underline !important;
	}
	.field_column{
		 float:right !important;
		 text-align: right !important; 
		 margin-right:180px !important; 
		 width:100px !important; 
		 padding: 0px  !important;
	}
	.current_year{
		 background-color:#FFF !important;
		 float: right !important;
		 text-align:right !important; 
		 width:150px !important; 
		 padding: 5px 5px 5px 0px !important;
	}
	.previous_year{
		 float:left !important;
		 text-align: right !important; 
		 margin-left:30px !important; 
		 width:100px !important; 
		 padding:5px 0 !important;
	}
	#form .bs_caption{
		float:left !important;
		width:250px !important;
		text-align:left !important;
		font-size:14px !important;
		color:#333333 !important;
	}
	/* ----- END ------- Balance Sheet & Profit N Loss  */

	.caption_P{
		width: 300px !important;
		margin-left: 70px !important;
		padding: 2px !important;
	}


	.smallPrint{
		width: 400px !important;
		margin: 0 auto !important;
	}

	.smallPrint .leftCaption{
		float: left !important;
		margin-left: 10px !important;
		padding: 5px 10px !important;
		width: 170px !important;
	}

	.smallPrint .rightCaption{
		float: right !important;
		margin-right: 10px !important;
		padding: 5px 10px !important;
		width: 170px !important;
		text-align: right !important;
	}
	.pageFoooter .pazeNum{
		font-size: 12px  !important;
		float: right !important;
		padding: 10px 10px 0px 0px !important;
		margin: 0px 0px 0px 0px
	}
	.pageFoooter .dev-info{
		font-size: 12px  !important;
	}
	.dnLogo{
		font-family: 'arsenal-regular' !important;
		font-size:24px !important;
	}

	.invoiceReady{
		background-color: #FFF !important;width: 900px !important;float: none !important;margin:  20px auto !important;padding: 20px !important;
		box-shadow: 0px 0px 2px 0px #CCC !important;
		border:  1px solid #333 !important;
	}
	.horizontalFlip{
		-webkit-transform: scaleX(-1) !important;
		   -moz-transform: scaleX(-1) !important;
			 	transform: scaleX(-1) !important;
		filter: FlipH !important;
		-ms-filter: "FlipH" !important;
	}
}
.repoBottom,.repoTop{
	-webkit-print-color-adjust: exact !important;
}

.printBody{
	position: absolute  !important;
	top: 150px  !important;
	width: 100%  !important;
}
.voucherBox{
	position: relative !important;
    page-break-inside:avoid  !important; 
	page-break-after:auto  !important;
}
.tablePage{
	position: relative !important;
    page-break-inside:avoid  !important; 
	page-break-after:auto  !important;
}
.hideInPrint,.noPrint{
	display: none !important;
}

.clear{
	clear: both !important;
}
.pull-right{
	float:right !important;
}
.pull-left{
	float:left !important;
}
.printTable{
	font-family: 'Ubuntu' !important;
}
p{
	font-family: 'Ubuntu' !important;
}
*{
	font-family: 'Ubuntu' !important;
}
#form .caption{
	font-family: 'Ubuntu' !important;
	float: left !important;
	width: 150px !important;
	height: 15px !important;
	margin-left: 20px !important;
	margin-right: 11px !important;
	margin-top: 10px !important;
	text-align: right !important;
	font-size: 12px !important;
	color: #333333 !important;
	line-height: 10px !important;
}
#form .fieldDisplay {
	font-size: 12px !important;
	float: left !important;
	width: 400px !important;
	border: 1px solid #DDDDDD !important;
	padding: 5px !important;
	height: 20px !important;
	/* -webkit-box-shadow: #F4F4F4 0 0 0 2px !important; */
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	-moz-border-radius-topleft: 5px !important;
	-moz-border-radius-topright: 5px !important;
	-moz-border-radius-bottomleft: 5px !important;
	-moz-border-radius-bottomright: 5px !important;
	-webkit-border-top-left-radius: 5px !important;
	-webkit-border-top-right-radius: 5px !important;
	-webkit-border-bottom-left-radius: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
}
table{
	font-family: 'Ubuntu' !important;
	margin:0 !important;
	width:100% !important;
	margin:0 auto !important;
	-webkit-print-color-adjust: exact !important;
}
table th{
	height:27px !important;
	border-bottom:1px solid #666666 !important;
	border-right:1px solid #666666 !important;
	margin-bottom:20px !important;
	background-color:#f5f5f5 !important;
	font-size:12px !important;
	padding:2px !important; 

}
table th.bg-color{
	height:0px !important;
	border-bottom:1px solid #666666 !important;
	border-right:1px solid #666666 !important;
	margin-bottom:20px !important;
	background-color:#e6e6e6 !important;
	font-size:12px  !important;
	font-weight: normal  !important;
	padding:2px !important; 
}
table th.bg-color-1{
	height:0px !important;
	border-bottom:1px solid #666666 !important;
	border-right:1px solid #666666 !important;
	margin-bottom:20px !important;
	background-color:#F3F3F3 !important;
	font-size:12px !important;
	padding:2px !important; 
}
.font16x{
	font-size: 16px  !important;
}
table th.bg-color-x{
	height:0px !important;
	border-bottom:1px solid #666666 !important;
	border-right:1px solid #666666 !important;
	margin-bottom:20px !important;
	background-color:#CCC !important;
	font-size:16px !important;
	padding:2px !important; 
}


table td{
	height: 25px !important; 
	font-size:10px !important;
	border-top:0 !important;
	border-bottom:1px solid #666666 !important;
	border-right:1px solid #666666 !important;
	color: #000 !important;
}
a{
	text-decoration: none  !important;
	color:#333 !important;
}
.title_top{
clear:both !important;
margin: 0px 50px 20px 50px !important;	
padding-bottom: 10px !important;
border-bottom:solid 1px #9ca09e !important;
font-size:18px !important;
font-weight:bold !important;
color:#474b49 !important;
line-height:10px
}
.main_title_1{
	width: 50% !important;
	font-size: 18px !important;
	padding: 10px 5px 5px 10px !important;
}
.main_title_2{
	font-size: 16px !important;
	margin-left: 5% !important;
	padding:5px !important;
}
.main_title_3{
	font-size: 16px !important;
	margin-left: 10% !important;
	padding:5px !important;
}
.main_col_amount{
	width: 20% !important;
	font-size: 16px !important;
	padding: 5px !important;
	text-align:center !important;
	background-color: #F5F5F5 !important;
}
.main_col_total{
	width: 20% !important;
	font-size: 16px !important;
	padding: 5px !important;
	text-align:center !important;
	font-weight:bold !important;
	background-color: #F1F1F1 !important;
}
.main_col_total span{
	border-bottom: 5px double #666 !important;
}

.invoiceTable{
	border-collapse: collapse !important;
	border-spacing: 0 !important;
	font-size: 16px !important;
}
.invoiceTable td{
	font-size: 12px  !important;
}
.invoiceTable td.totals{
	border-bottom: none !important;
	border-left: none !important;
	text-align:right !important;
}

.invoiceTable td.totalAmounts{
	background-color: #ffffff !important;
    border-bottom: 1px solid #666666 !important;
    border-right: 1px solid #666666 !important;
    font-size: 12px !important;
    height: 27px !important;
    margin-bottom: 20px !important;
    padding: 5px 10px !important;
	text-align:right !important;
}
.patientNameInvoice{
	float:left !important;
	margin: 10px 10px 10px 60px !important;
	border: 1px solid #999 !important;
	padding: 10px !important;
	min-width: 150px !important;
}
.dateOfInvoice{
	float:right !important;
	margin: 10px 60px 10px 10px !important;
	border: 1px solid #999 !important;
	padding: 10px !important;
}
.docReportSize{
	position: relative !important;
	margin: 0px !important;
	height: 1030px !important;
	width: 100% !important;
	border: 1px solid #444 !important;
	page-break-after: avoid  !important;
	page-break-inside: avoid  !important;
	page-break-before: avoid  !important;
}
.title{
	clear:both !important;
	margin:20px 50px 20px 50px !important;	
	border-bottom:solid 1px #9ca09e !important;
	font-size:22px !important;
	font-weight:bold !important;
	color:#474b49 !important;
	padding-bottom:10px !important;
}

.repoCaption{
	float:left !important;
	width:300px !important;
	height: 35px !important;
	font-size:16px !important;
	margin: 5px 10px !important;
	padding: 0px 5px  !important;
	color: #444  !important;
	font-weight: normal !important;
	transition: all 200ms !important;
}
.repoCaptonPrice{
	float: right !important;
	width:100px !important;
	height: 35px !important;
	text-align:right !important;
	font-size:16px !important;
	margin: 5px 10px !important;
	padding: 0px 5px  !important;
	color: #444  !important;
	font-weight: normal !important;
	transition: all 200ms !important;
}
.printBody{
	position: absolute !important;
	top: 200px !important;
	width: 100% !important;
}
.docLetterHeadSize{
	position: relative !important;
	margin: 0px !important;
	height: 1095px  !important;
	width: 100% !important;
	border: 1px solid #444 !important;
	page-break-after: avoid  !important;
	page-break-inside: avoid  !important;
	page-break-before: avoid  !important;
}
.repoTop{
	position: absolute !important;
	top: 0px !important;
	left:0px !important;
	height: 200px !important;
	width: 100% !important;
	background-image:url(../images/print/dr-top.jpg) !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-position: top left !important;
	-webkit-print-color-adjust: exact !important;
	border: none !important;
}
.printStethoScope{
	position: absolute !important;
	top: 400px !important;
	left: 50px !important;
	width: 100% !important;
	height: 500px !important;
	background-image:url('../images/Stethoscope.jpg') !important;
	background-size: 500px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	-webkit-print-color-adjust: exact !important;
	opacity: 0.4 !important;
	border: none !important;
}

.printStethoScope .diagnosisSeprator{
	position: absolute !important;
	top: -150px !important;
	left: 130px !important;
	height: 750px !important;
	width: 20px !important;
	border-right: 1px solid #333 !important;
}
.patientInfoLetterHead{
	position: absolute !important;
	top: 150px !important;
	left: 0px !important;
	width: 100% !important;
	height: 30px !important;
	border-bottom: 1px solid #666 !important;
	padding-bottom: 10px !important;
}
.headInfoCaption{
	float: left !important;
	width: 150px !important;
	font-size: 16px !important;
	font-weight:normal !important;
	padding-left: 20px !important;
	padding-top: 10px !important;
}
.hasBgLabImage:after{
	background-image:url('../images/print/lab.jpg') !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-position: bottom left !important;
	-webkit-print-color-adjust: exact !important;
}
.repoBottom{
	position: absolute !important;
	bottom:0px !important;
	left:0px !important;
	height: 50px !important;
	width: 100% !important;
	background-image:url(../images/print/dr-bottom.jpg) !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-position: bottom left !important;
	-webkit-print-color-adjust: exact !important;
	border: none !important;
}


table.ultraSoundTable{
	border: none !important;
}
table.ultraSoundTable tr{
	border: none !important;
}
table.ultraSoundTable td{
	border: none !important;
	font-size: 16px !important;
}
.radioPropertyOrTest{
	cursor: pointer !important;
}
.repo_heading{
	background-color: #999 !important;
    color: #FFF !important;
    font-size: 18px !important;
    font-weight: bold !important;
    margin: auto 31px !important;
    padding: 6px 10px !important;
    text-align: center !important;
}
.repo_sub_heading{
	font-family: 'Ubuntu' !important;
	background-color: #F5F5F5 !important;
    color: #69F !important;
	text-shadow: 0px 0px 3px #EEE !important;
	border-bottom: 1px solid #69F !important;
    font-size: 18px  !important;
    margin: auto 31px !important;
    padding: 6px 30px !important;
    text-align: left !important;
	position: relative !important;
	overflow: hidden !important;
}
.repo_sub_heading .giveCaret{
	position: absolute !important;
	right: 40px !important;
	top: -3px !important;
	padding: 18px 1px !important;
	transform: rotate(15deg) !important;
	background-color: #69F !important;
}
.repo_sub_heading .giveCaret2{
	position: absolute !important;
	right: 45px !important;
	top: -3px !important;
	padding: 18px 1px !important;
	transform: rotate(15deg) !important;
	background-color: #69F !important;
}

.repoCaptionNew{
	float:left !important;
	width:300px !important;
	height: 20px !important;
	font-size:16px !important;
	margin: 5px 10px !important;
	padding: 5px 5px  !important;
	color: #444  !important;
	font-weight: normal !important;
	transition: all 200ms !important;
	text-align: right !important;
}
.repoFieldNew{
	float:left !important;
	width:300px !important;
	padding: 5px 20px !important;
	border-left: 1px solid #CCC !important;
	transition: all 200ms !important;
}

.input_size_repo{
	float:left !important;
	width: 100% !important;
	height: 30px !important;
	font-size: 16px !important;
	padding-left: 5px !important;
	border: 1px solid #999 !important;
	-webkit-box-shadow:#F4F4F4 0 0 0 2px !important;
	
	border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
	
	-moz-border-radius-topleft:3px !important; 
    -moz-border-radius-topright:3px !important;
    -moz-border-radius-bottomleft:3px !important;
    -moz-border-radius-bottomright:5px !important;
	
	-webkit-border-top-left-radius:3px !important;
    -webkit-border-top-right-radius:3px !important;
    -webkit-border-bottom-left-radius:3px !important;
    -webkit-border-bottom-right-radius:3px !important;
	
	box-shadow: 0 0 5px #ccc !important;
	transition: box-shadow 300ms !important;
	-webkit-transition: box-shadow 300ms !important;
}
.textInfoRight{
	float: right !important;
	margin: 5px 100px 5px 5px !important;
	padding: 5px !important;
	color: #00 !important;
}
.printReportHeading{
    color: #666 !important;
    font-size: 26px !important;
    font-weight: normal !important;
    margin: auto 31px !important;
    padding: 6px 10px !important;
    text-align: center !important;
	border-bottom: 1px solid #DDD !important;
}
.printReportSubHeading{
	margin: 0px 31px 5px 31px !important;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding: 6px 10px !important;
    text-align: left !important;
	background-color: #F5F5F5 !important;
	border-top: 1px solid #CCC !important;
}
.repoTestHeader{
	float:left !important;
	width:22% !important;
	font-size:12px !important;
	margin: 5px 0px !important;
	padding: 0px 5px  !important;
	color: #000  !important;
	font-weight: normal !important;
	transition: all 200ms !important;
}
span.bar-code{
	position: absolute !important;
	bottom: -15px !important;
	left: 25px !important;
}
.repoCaption2{
	float:left !important;
	width:22% !important;
	font-size:16px !important;
	margin: 2px 0px !important;
	padding: 0px 5px  !important;
	color: #333  !important;
	font-weight: normal !important;
	transition: all 200ms !important;
}
.repoPatientHeads{
	width: 150px !important;
	font-size: 16px !important;
	background-color: #FFF !important;
	font-weight: normal !important;
	border: none !important;
	text-align: left !important;
}
.repoPatientInfos{
	font-size: 16px !important;
	background-color: #FFF !important;
	font-weight: normal !important;
	border: none !important;
	text-align: left !important;
}

.miniCaption{
	font-family: 'Ubuntu' !important;
	font-size: 12px !important;
	float: left !important;
	width: 80px !important;
	text-align: right !important;
	padding: 0px 5px !important;
	margin-top: 5px !important;
}
.miniField{
	font-family: 'Ubuntu' !important;
	font-size: 12px !important;
	float: left !important;
	width: 100px !important;
	text-align: left !important;
	padding: 0px 5px !important;
	margin-top: 5px !important;
}

/* balance sheet & Profit N Loss */
#summary_form{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	color: #000 !important;
	margin:10px !important;
	padding-bottom:15px
}
.report_heading{
	font-size: 16px !important;
	padding:0 !important;
	text-align:center !important;
}
#summary_form .main_title_1{
	margin:10px 0px !important;	
	font-size:24px !important;
	color:#474b49 !important;
	line-height:0px !important;
	padding: 20px 0px !important;
	width: 100% !important;
	text-align:center !important;
	border-top: 1px dashed #474b49 !important;
	border-bottom: 1px dashed #474b49 !important;
}
#summary_form .main_title_middle{
	width:200px !important;
	margin:10px 0px !important;
	font-size:18px !important;
	color:#474b49 !important;
	line-height:0px !important;
	padding:20px 0px !important;
	text-align:center !important;
	border-bottom: 1px solid #000 !important;
}
#summary_form .main_title_amuont{
	width:200px !important;
	margin:10px 10px !important;
	font-size:16px !important;
	color:#474b49 !important;
	line-height:0px !important;
	padding:20px 0px !important;
	text-align:right !important;
	font-weight: bold !important;
	text-decoration: underline !important;
}
.field_column{
	 float:right !important;
	 text-align: right !important; 
	 margin-right:180px !important; 
	 width:100px !important; 
	 padding: 0px  !important;
}
.current_year{
	 background-color:#FFF !important;
	 float: right !important;
	 text-align:right !important; 
	 width:150px !important; 
	 padding: 5px 5px 5px 0px !important;
}
.previous_year{
	 float:left !important;
	 text-align: right !important; 
	 margin-left:30px !important; 
	 width:100px !important; 
	 padding:5px 0 !important;
}
#form .bs_caption{
	float:left !important;
	width:250px !important;
	text-align:left !important;
	font-size:14px !important;
	color:#333333 !important;
}
/* ----- END ------- Balance Sheet & Profit N Loss  */

.caption_P{
	width: 300px !important;
	margin-left: 70px !important;
	padding: 2px !important;
}


.smallPrint{
	width: 400px !important;
	margin: 0 auto !important;
}

.smallPrint .leftCaption{
	float: left !important;
	margin-left: 10px !important;
	padding: 5px 10px !important;
	width: 170px !important;
}

.smallPrint .rightCaption{
	float: right !important;
	margin-right: 10px !important;
	padding: 5px 10px !important;
	width: 170px !important;
	text-align: right !important;
}
.pageFoooter .pazeNum{
	font-size: 12px  !important;
	float: right !important;
	padding: 10px 10px 0px 0px !important;
	margin: 0px 0px 0px 0px
}
.dnLogo{
	font-family: 'arsenal-regular' !important;
	font-size:24px !important;
}

.invoiceReady{
	background-color: #FFF !important;width: 900px !important;float: none !important;margin:  20px auto !important;padding: 20px !important;
	box-shadow: 0px 0px 2px 0px #CCC !important;
	border:  1px solid #333 !important;
}
.horizontalFlip{
	-webkit-transform: scaleX(-1) !important;
	   -moz-transform: scaleX(-1) !important;
		 	transform: scaleX(-1) !important;
	filter: FlipH !important;
	-ms-filter: "FlipH" !important;
}
.rep_row{
	width: 100%;
}
table th,table td{
	border: 1px solid #666 !important;
	padding-right: 3px !important;
	padding-left: 3px !important;
}
table{
	border-collapse: collapse;
}
.dev-info *{
	font-size: 12px !important;
}
.text-left{
	text-align: left !important;
}
.text-center{
	text-align: center !important;
}
.text-right{
	text-align: right !important;
}