
@page{
	size: A6;
	margin: auto;
}
@font-face{
	font-family: 'OpenSans-Light';
	src:url(../fonts/OpenSans-Light.ttf);
}
*{
	margin: 0 ;
	padding: 0;
}
.receiptFee{
	font-family: 'OpenSans-Light';
	margin: 0 auto;
	width:400px;
	border: 2px solid #000;
	position:relative;
}
.receiptFee .firstHeader{
	height: 40px;
}
.receiptFee .spaX{
	position: absolute;
	top: 10px;
	right: 20px;
	font-style:italic;
}
.receiptFee .spaY{
	font-size:12px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-style:italic;
}

.receiptFee h3{
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	text-align:center;
	padding: 10px 0px;
	margin-top: 20px;
}
.receiptFee p.subHeader{
	width:100%;
	text-align: center;
	padding: 0px 0px;
	background-color: #F5F5F5;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.receiptFee p.recLine{
	padding: 0px 20px;
}