body{
	font-family: monospace,sans-serif !important;
	color:  #000 !important;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
@media print{
	*{
		-webkit-print-color-adjust: exact;
	}
	.repoBottom,.repoTop{
		-webkit-print-color-adjust: exact;
	}
	.printBody{
		position: absolute !important;
		top: 150px !important;
		width: 100% !important;
	}
	.voucherBox{
		position: relative;
        page-break-inside:avoid !important;
		page-break-after:auto !important;
	}
	.tablePage{
		position: relative;
        page-break-inside:avoid !important;
		page-break-after:auto !important;
	}
	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.hideInPrint,.noPrint{
		display: none;
	}

	.clear{
		clear: both;
	}
	.pull-right{
		float:right;
	}
	.pull-left{
		float:left;
	}
	.printTable{
		font-family: monospace,sans-serif !important;
	}
	p{
		font-family: monospace,sans-serif !important;
	}
	*{
		font-family: monospace,sans-serif !important;
	}
	#form .caption{
		font-family: monospace,sans-serif !important;
		float: left;
		width: 150px;
		height: 15px;
		margin-left: 20px;
		margin-right: 11px;
		margin-top: 10px;
		text-align: right;
		font-size: 12px;
		color: #333333;
		line-height: 10px;
	}
	#form .fieldDisplay {
		font-size: 12px;
		float: left;
		width: 400px;
		border: 1px solid #DDDDDD;
		padding: 5px;
		height: 20px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	table{
		font-family: monospace,sans-serif !important;
		margin:0;
		width:100%;
		margin:0 auto;
		border-collapse: collapse !important;
		-webkit-print-color-adjust: exact;
	}
	table th{
		height:27px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px solid #e5e5e5;
	/*	border-right:1px solid #CCC;
	*/	margin-bottom:20px;
		background-color:#f5f5f5;
		font-size:12px;
		padding:2px;

	}
	table th.bg-color{
		height:0px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px solid #e5e5e5;
		margin-bottom:20px;
		background-color:#e6e6e6;
		font-size:12px !important;
		font-weight: normal !important;
		padding:2px;
	}
	table th.bg-color-1{
		height:0px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px solid #e5e5e5;
		margin-bottom:20px;
		background-color:#F3F3F3;
		font-size:12px;
		padding:2px;
	}
	.font16x{
		font-size: 16px !important;
	}
	table th.bg-color-x{
		height:0px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px solid #e5e5e5;
		margin-bottom:20px;
		background-color:#CCC;
		font-size:16px;
		padding:2px;
	}


	table td{
		font-family: monospace,sans-serif !important;
		font-size:10px;
		border-top:0;
		padding: 2px;
		border-bottom:1px solid #e5e5e5;
		border-right:1px solid #e5e5e5;
		color: #000;
	}
	a{
		font-family: monospace,sans-serif !important;
		text-decoration: none !important;
		color:#333;
	}
	table td,table th{
		font-family: monospace,sans-serif !important;
		padding-right: 3px !important;
		padding-left: 3px !important;
		border: 1px solid #666 !important;
	}
	.pageFoooter .pazeNum{
		font-size: 12px  !important;
		float: right !important;
		padding: 10px 10px 0px 0px !important;
		margin: 0px 0px 0px 0px
	}
	.pageFoooter .dev-info{
		font-size: 10px !important;

	}
}
.pageFoooter .dev-info{
	font-size: 10px !important;
	border-top: 1px solid #777;
}
/*------------ Reports -------------*/
.repoGen{
	font-size: 12px !important;
}

.report_heading{
	font-size:20px;
	padding:0;
	text-align:center;
	font-weight:bold;
}
.field_column{
	 float:right;
	 text-align: right;
	 margin-right:180px;
	 width:100px;
	 padding: 0px !important;
}
.caption_P{
	width: 300px;
	margin-left: 70px;
	padding: 2px;
}
#summary_form .main_title_1{
	margin:10px 0px;
	font-size:24px;
	color:#474b49;
	line-height:0px;
	padding: 20px 0px;
	width: 100%;
	text-align:center;
}
#summary_form{
	float: left;
	font-size: 14px;
	color: #000;
	margin:10px;
	border-radius: 3px;
	padding-bottom: 15px;
}
.pl-30{
    padding-left: 30px !important;
}
.pl-10{
    padding-left: 10px !important;
}
.text-word-space{
    letter-spacing: 4px;
    text-transform: uppercase;
}


/******* Margin Helpers *******/
/*		Margin-All					*/
.m-0 { margin: 0px; }
.m-5 { margin: 5px; }
.m-10 { margin: 10px; } .m-15 { margin: 15px; } .m-20 { margin: 20px; } .m-25 { margin: 25px; } .m-30 { margin: 30px; } .m-35 { margin: 35px; }
/*		Margin-left					*/
.ml-3  { margin-left: 3px; } .ml-5  { margin-left: 5px; } .ml-10 { margin-left: 10px !important; } .ml-15 { margin-left: 15px; } .ml-20 { margin-left: 20px; } .ml-25 { margin-left: 25px; } .ml-30 { margin-left: 30px; }
/*		Margin-right				*/
.mr-3  { margin-right: 3px; } .mr-5  { margin-right: 5px; } .mr-10 { margin-right: 10px; } .mr-15 { margin-right: 15px; } .mr-20 { margin-right: 20px; } .mr-25 { margin-right: 25px; } .mr-30 { margin-right: 30px; }
/*		Margin-Horizontal			*/
.mh-5 	{ margin-left: 5px; margin-right: 5px; } .mh-10 { margin-left: 10px; margin-right: 10px; } .mh-15 { margin-left: 15px; margin-right: 15px; } .mh-20 { margin-left: 20px; margin-right: 20px; } .mh-25 { margin-left: 25px; margin-right: 25px; } .mh-30 { margin-left: 30px; margin-right: 30px }
/*		Margin Vertical				*/
.mv-5 	{ margin: 5px 0; } .mv-10 { margin: 10px 0; } .mv-15 { margin: 15px 0; } .mv-20 { margin: 20px 0; } .mv-25 { margin: 25px 0px; } .mv-25 { margin:30px 0; }
/*		Margin-bottom			*/
.mt-3  { margin-bottom: 3px; } .mt-5  { margin-bottom: 5px; } .mt-10 { margin-bottom: 10px; } .mt-15 { margin-bottom: 15px; } .mt-20 { margin-bottom: 20px; } .mt-25 { margin-bottom: 25px; } .mt-30 { margin-bottom: 30px; }
/*		Margin-bottom		*/
.mb-0 { margin-bottom: 0px !important; }
.mb-3  { margin-bottom: 3px; } .mb-5  { margin-bottom: 5px; } .mb-10 { margin-bottom: 10px; } .mb-15 { margin-bottom: 15px; } .mb-20 { margin-bottom: 20px; } .mb-25 { margin-bottom: 25px; } .mb-30 { margin-bottom: 30px; }

/******* padding Helpers *******/
/*		padding-All					*/
.p-0 { padding: 0px; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; } .p-15 { padding: 15px; } .p-20 { padding: 20px; } .p-25 { padding: 25px; } .p-30 { padding: 30px; } .p-35 { padding: 35px; }
/*		padding-left					*/
.pl-3  { padding-left: 3px; } .pl-5  { padding-left: 5px; } .pl-10 { padding-left: 10px !important; } .pl-15 { padding-left: 15px; } .pl-20 { padding-left: 20px; } .pl-25 { padding-left: 25px; } .pl-30 { padding-left: 30px; }
/*		padding-right				*/
.pr-3  { padding-right: 3px; } .pr-5  { padding-right: 5px; } .pr-10 { padding-right: 10px; } .pr-15 { padding-right: 15px; } .pr-20 { padding-right: 20px; } .pr-25 { padding-right: 25px; } .pr-30 { padding-right: 30px; }
/*		padding-Horizontal			*/
.ph-5 	{ padding-left: 5px; padding-right: 5px; } .ph-10 { padding-left: 10px; padding-right: 10px; } .ph-15 { padding-left: 15px; padding-right: 15px; } .ph-20 { padding-left: 20px; padding-right: 20px; } .ph-25 { padding-left: 25px; padding-right: 25px; } .ph-30 { padding-left: 30px; padding-right: 30px }
/*		padding Vertical				*/
.pv-5 	{ padding: 5px 0; } .pv-10 { padding: 10px 0; } .pv-15 { padding: 15px 0; } .pv-20 { padding: 20px 0; } .pv-25 { padding: 25px 0px; } .pv-25 { padding:30px 0; }
/*		padding-bottom			*/
.pt-3  { padding-bottom: 3px; } .pt-5  { padding-bottom: 5px; } .pt-10 { padding-bottom: 10px; } .pt-15 { padding-bottom: 15px; } .pt-20 { padding-bottom: 20px; } .pt-25 { padding-bottom: 25px; } .pt-30 { padding-bottom: 30px; }
/*		padding-bottom		*/
.pb-0 { padding-bottom: 0px !important; }
.pb-3  { padding-bottom: 3px; } .pb-5  { padding-bottom: 5px; } .pb-10 { padding-bottom: 10px; } .pb-15 { padding-bottom: 15px; } .pb-20 { padding-bottom: 20px; } .pb-25 { padding-bottom: 25px; } .pb-30 { padding-bottom: 30px; }

.text-right{
	text-align: right !important;
}
.text-left{
	text-align: left !important;
}
.text-center{
	text-align: center !important;
}
