@font-face {
	font-family: "Roboto";
	src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Roboto";
	src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Roboto";
	src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
}
body{
	font-family: 'Roboto' !important;
	color:  #000 !important;
}
@media print{
	@page{
		size:  horizontal;
		margin: minimum;
	}
	*{
		-webkit-print-color-adjust: exact;
	}
	.tableBreak{
		page-break-inside:avoid !important;
		page-break-after:auto !important;
	}
	.repoBottom,.repoTop{
		-webkit-print-color-adjust: exact;
	}
	.printBody{
		position: absolute !important;
		top: 150px !important;
		width: 100% !important;
	}
	.voucherBox{
		position: relative;
    page-break-inside:avoid !important;
		page-break-after:auto !important;
	}
	.tablePage{
		position: relative;
		page-break-inside:avoid !important;
		page-break-after:auto !important;
	}
	table{
		position: relative;
		page-break-inside:avoid !important;
		page-break-after:auto !important;
	}
	.hideInPrint,.noPrint{
		display: none;
	}

	.clear{
		clear: both;
	}
	.pull-right{
		float:right;
	}
	.pull-left{
		float:left;
	}
.printTable{
	font-family: 'Roboto';
	page-break-inside:avoid !important;
	page-break-after:auto !important;
}
	p{
		font-family: 'Roboto';
		display: block;
	}
	*{
		font-family: 'Roboto';
	}
	#form .caption{
		font-family: 'Roboto';
		float: left;
		width: 150px;
		height: 15px;
		margin-left: 20px;
		margin-right: 11px;
		margin-top: 10px;
		text-align: right;
		font-size: 12px;
		color: #333333;
		line-height: 10px;
	}
	#form .fieldDisplay {
		font-size: 12px;
		float: left;
		width: 400px;
		border: 1px solid #DDDDDD;
		padding: 5px;
		height: 20px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	table{
		font-family: 'Roboto';
		margin:0;
		width:100%;
		margin:0 auto;
		border-collapse: collapse !important;
		-webkit-print-color-adjust: exact;
	}
	table th{
		height:27px;
		border:1px solid #e5e5e5;
		margin-bottom:20px;
		background-color:#f5f5f5;
		font-size:12px;
		padding:2px;
	}
	.font16x{
		font-size: 16px !important;
	}
	table td{
		font-size:10px;
		border-top:0;
		padding: 2px;
		border:1px solid #e5e5e5;
		color: #000;
	}
	a{
		text-decoration: none !important;
		color:#333;
	}
	table td,table th{
		padding-right: 3px !important;
		padding-left: 3px !important;
		border: 1px solid #666 !important;
	}
	.pageFoooter .pazeNum{
		font-size: 12px  !important;
		float: right !important;
		padding: 10px 10px 0px 0px !important;
		margin: 0px 0px 0px 0px
	}
	.pageFoooter .dev-info{
		font-size: 10px !important;
	}
	.text-center{
		text-align: center !important;
	}
}
.pageFoooter .dev-info{
	font-size: 10px !important;
	border-top: 1px solid #777;
}
/*------------ Reports -------------*/
.repoGen{
	font-size: 12px !important;
}
.text-center{
	text-align: center !important;
}
.header h1.h1{
	font-family: "Roboto";
	font-weight: bold !important;
	width: 400px;
	font-size: 26px;
	text-align: left;
	float: left;
	margin: 5px 0px;
	text-shadow: 0px 0px 2px #666;
}
.biz_logo{
	float: left;
	height: 100px !important;
	width: 100px !important;
	margin-right: 20px !important;
}
.biz_logo img{
	height: 100%;
}
.logo_aside{
	float: left;
}
 .pageHeader p.slogan{
	font-family: "Roboto";
	font-size: 18px;
	font-style: italic;
	width: 100%;
	color: #000;
	padding: 2px 2px;
	margin: 4px 0px 0px 0px;
	text-align: left;
}
.pageHeader .underSlogan{
	font-family: "Roboto";
	width: 100%;
	color: #000;
	padding: 5px 0px;
	margin: 0px;
	text-align: left;
}
 .pageHeader .partyTitle{
	font-family: "Roboto" !important;
	width: 100%;
	font-size: 14px;
	padding: 5px 5px !important;
	color: #000 !important;
}
 .pageHeader .partyTitle span.goal{
	color: #000 !important;
}
 .pageHeader .partyTitle span.red{
	font-size:16px;
	padding: 5px ;
	text-transform: uppercase;
	float: right;
	color: #F00;
	border-bottom: none;
}

 .pageHeader h1.h1{
	font-family: 		"Roboto";
	width: 					100%;
	font-size: 			22px;
	text-align: 		left;
	margin-bottom: 	0px;
	padding-bottom: 0px;
}
div.caption_report{
	margin: 5px !important;
	width: 45% !important;
	padding: 10px;
	font-size: 14px;
}
div.caption_report.pull-right{
	text-align: right;
}
.clear-right{
  clear: right !important;
}
.clear-left{
  clear: left !important;
}
.tableBreak{
	page-break-inside:avoid !important;
	page-break-after:auto !important;
}
