#calendar .ui-datepicker,
#calendar .ui-datepicker table,
#calendar .ui-datepicker tr,
#calendar .ui-datepicker td,
#calendar .ui-datepicker th {
    margin: 0 !important;
    padding: 0 !important;
    border-spacing: 0 !important;
}
#calendar table td.high_ligh{
    background-color: rgba(0,0,255,0.1);
}
#calendar .ui-datepicker{
    width: 100% !important;
    padding: 10px !important;
    cursor: default !important;
 
    text-transform: uppercase !important;
    font-family: Tahoma !important;
    font-size: 12px !important;
 
    background: #FFF !important;
 
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
 
    border:1px solid #ddd !important;
}
#calendar .ui-datepicker-header {
    position: relative !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #d6d6d6 !important;
}
 
#calendar .ui-datepicker-title { text-align: center !important; }
 
#calendar .ui-datepicker-month {
    position: relative !important;
    padding-right: 15px !important;
    color: #565656 !important;
}
 
#calendar .ui-datepicker-year {
    padding-left: 8px !important;
    color: #a8a8a8 !important;
}
#calendar .ui-datepicker-month:before {
    display: block !important;
    position: absolute !important;
    top: 0px !important;
    right: 0 !important;
    width: 5px !important;
    height: 100% !important;
    content: '' !important;
 
    background: #a5cd4e !important;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)) !important;
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%) !important;
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%) !important;
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%) !important;
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%) !important;
 
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}
#calendar .ui-datepicker-prev,
#calendar .ui-datepicker-next {
	font:normal normal normal 14px/1 FontAwesome !important;font-size:inherit !important;
    position: absolute !important;
    top: -2px !important;
    padding: 5px !important;
    cursor: pointer !important;
    font-size: 18px !important;
}
 
#calendar .ui-datepicker-prev {
    left: 0 !important;
    padding-left: 0 !important;
}
#calendar .ui-datepicker-prev:before{
	content:"\f060" !important;
}
#calendar .ui-datepicker-next {
    right: 0 !important;
    padding-right: 0 !important;
}
#calendar .ui-datepicker-next:before{
	content:"\f061" !important;
}
#calendar .ui-datepicker-prev span,
#calendar .ui-datepicker-next span{
    display: block !important;
    width: 5px !important;
    height: 10px !important;
    text-indent: -9999px !important;
 
    background-image: url(../img/arrows.png) !important;
}
 
#calendar .ui-datepicker-prev span { background-position: 0px 0px !important; }
 
#calendar .ui-datepicker-next span { background-position: -5px 0px !important; }
 
#calendar .ui-datepicker-prev-hover span { background-position: 0px -10px !important; }
 
#calendar .ui-datepicker-next-hover span { background-position: -5px -10px !important; }

#calendar .ui-datepicker-calendar th {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
 
    text-align: center !important;
    font-weight: normal !important;
    color: #a8a8a8 !important;
}
#calendar .ui-datepicker-calendar td {
    padding: 0 !important;
    text-align: center !important;
    line-height: 26px !important;
}
 
#calendar .ui-datepicker-calendar .ui-state-default {
    display: block !important;
    width: 100% !important;
    outline: none !important;
 
    text-decoration: none !important;
    color: #a8a8a8 !important;
 
    border: 1px solid transparent !important;
}
#calendar .ui-datepicker-calendar .ui-state-active {
    color: #6a9113 !important;
    border: 1px solid #6a9113 !important;
}
 
#calendar .ui-datepicker-other-month .ui-state-default { color: #565656 !important; }