@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../fonts/sDGTilo5QRsfWu6Yc11AXg.woff2') format('woff2'), url('../fonts/_xyN3apAT_yRRDeqB3sPRg.woff') format('woff');
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url('../fonts/efd6FGWWGX5Z3ztwLBrG9cZ4HySTEWshgORbPp2tk8k.woff2') format('woff2'), url('../fonts/efd6FGWWGX5Z3ztwLBrG9b2aU247V0zTzydO4RoO9Ok.woff') format('woff');
}
*{
	-webkit-print-color-adjust: exact;
	font-family: 'Ubuntu';
}
body{
	margin: 0em;
}
@page{
	margin: 0mm ;
	width: 80mm;
}
.q-font{
	font-family: 'Quattrocento Sans' !important;
}
.clear{
	clear: both;
}
.pull-right{
	float:right !important;
}
.pull-left{
	float:left !important;
}
.invoiceReady{
	width: 3.5in;
	padding: 10px 0px;
	margin: 10px auto;
}
.size-text-heading{
	font-size: 1.4em !important;
	padding: 0em !important;
	text-align: center;
}
.size-text-sheading{
	font-size: 1em !important;
	padding: 0.2em 0.1em !important;
	text-align: left;
}
.title_top{

}
.headerWrapper{
	width: 65mm;
	margin: 20px auto;
}
.smallInvoiceSize{
	width: 65mm;
	margin: 5mm 5mm;
	margin: 0 auto;
	text-align: center;
	background-color: #FFF;
	page-break-inside: avoid !important;
	page-break-before: avoid !important;
}
table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	page-break-inside: avoid !important;
	font-size: 1.8rem !important;
	margin: 0.5em auto 0 auto ;
}
table tr{
	page-break-before: avoid !important;
}
table tr th{
	font-weight: normal;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	vertical-align: middle;
	background-color: #FFF;
	text-align: center;
}
table tr td{
	font-weight: normal;
	border: none;
	vertical-align: middle;
	background-color: #FFF;
	text-align: center;
}
table tr th{
	padding: 0.8em 0.1em !important;
}
table tr th,table tr td{
	font-size: 0.4em !important;
}
table tr td{
	padding: 0.4em 0.1em !important;
}
table tbody{
	border-bottom: 1px solid #222;
}
.leftCaption{
	font-size: 10px;
	float: left;
	padding: 5px 5px 0px 5px;
}

.rightCaption{
	font-size: 10px;
	float: right;
	padding: 5px;
	text-align: right;
}
td.totals{
	border-bottom: none;
	border-left: none;
	text-align:right;
	border-top: 0px;
	padding-right: 10px;
}
td.totalAmounts{
	background-color: #FFF !important;
    font-size: 10px !important;
    margin-bottom: 20px !important;
    padding: 2px 5px !important;
	text-align:right !important;
}
.invoice-developer-info{
	font-size: 10px !important;
	border-top: 1px solid #222;
	padding-top: 5px;
	margin-top: 2mm;
}
.invoice-footer-text{
	font-size: 10px !important;
	border-top: 1px solid #222;
	padding-top: 5px;
	text-align: left !important;
}
