/*------------ Tab Panel -------------*/


.content-box-header  .tabSelected{
	float:left;
	width:90px;
	height:20px;
	position:relative;
	top: 3px;
	background-color:#FFFFFF;
	/*background:url(../images/bg-table.png);*/
	border:#999 solid 1px;
	border-bottom:0;

	margin-right:10px;
	margin-top:10px;

	cursor:pointer;
	text-align:center;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding-top:10px;

	text-shadow:none;
	border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

	-moz-border-radius-topleft:7px;
    -moz-border-radius-topright:7px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;

	-webkit-border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;

}
.content-box-header  .tab{
	float:left;
	width:90px;
	height:20px;
	position:relative;
	top: 2px;
	background-color:#e6e6e6;
	border:#999999 solid 1px;
	border-bottom: 1px solid #CCC;

	margin-top:10px;
	margin-right:10px;
	cursor:pointer;
	text-align:center;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding-top:10px;
	text-shadow:none;


	border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

	-moz-border-radius-topleft:7px; /* top left corner */
    -moz-border-radius-topright:7px; /* top right corner */
    -moz-border-radius-bottomleft:0px; /* bottom left corner */
    -moz-border-radius-bottomright:0px; /* bottom right corner */

	-webkit-border-top-left-radius:7px; /* top left corner */
    -webkit-border-top-right-radius:7px; /* top right corner */
    -webkit-border-bottom-left-radius:0px; /* bottom left corner */
    -webkit-border-bottom-right-radius:0px; /* bottom right corner */
}

.content-box-header  .tab:hover{
	background-color:#EEEEEE;
	color: #666;
}

#tabPanel{
	float:right;
}

.content-box-header p{
	float:left;
	margin-left:10px;
	margin-top:1px;
}

.content-box-header  .tab a{
	color:#000;
}
.sub_heading{
	margin-top:0px;
	height:38px;
	/*border:1px solid #FFA;*/
	background-color: #FAFAFA;

/*	background: url(images/bg-table-sub-heading.png) repeat-x;
*/
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

	-moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;

	-webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
}
#sub_tabPanel{
	float:left;
	margin-top:3px;
	margin-top:4px;
	margin-left:15px;
}
.content-box-header *,.content-box-header *:before,.content-box-header *:after{
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
}
#sub_tabPanel .tabPanel{
	float:right;
	margin-top:3px;
	margin-top:4px;
}
