
body{
	font-family: montserrat, arial, verdana;
	background: url('../images/gs.png');
}
.extenser{
	height:200px;
}
.clear{
	clear: both;
}
.company-logo{
	width: 100%;
	text-align: center;
}
.company-logo img{
	width: 250px;
	margin-top: 20px;
}
.field-group{
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.info-mini{
  font-size: 12px;
  font-style: italic;
  color: #999;
}


/* Loading Animation */
.loading{
	display: none;
}
.spinner {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #68AFCA;
  height: 100%;
  width: 10px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
