@font-face {
    font-family: 'nafees_font';
    src: url('nafees_web_naskhshipped.eot');
    src: url('nafees_web_naskhshipped.eot?#iefix') format('embedded-opentype'),url('nafees_web_naskhshipped.woff') format('woff'),url('nafees_web_naskhshipped.ttf') format('truetype'),url('http://cdn.urdupoint.com/daily/font-styles/nafees_web_naskhshipped.svg#NafeesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height:28px;
}
